.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
vignettes/*.R
vignettes/*.html
.DS_Store
docs
figure/

cran-comments.md
CRAN-SUBMISSION

/.quarto/
meetupr
.Renviron
.meetupr.rds

**/*.quarto_ipynb

README_cache/
