.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
vignettes/*.R
vignettes/*.html
.DS_Store
.httr-oauth
docs
tests/testthat/.meetup_token.rds
~/.local/share/meetupr/meetupr-token.rds
~/Library/Application Support/meetupr/meetupr-token.rds
pkgdown/
