http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findGroups(\n  $query: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $lat: Float! = 0.0\n  $lon: Float! = 0.0\n  $radius: Float =
        100000000.0\n) {\n  groupSearch(\n    after: $cursor\n    first: $first\n    filter:
        {\n      query: $query\n      lat: $lat\n      lon: $lon\n      radius: $radius\n    }\n  )
        {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlname\n        city\n        state\n        country\n        lat\n        lon\n        memberships
        {\n          totalCount\n        }\n        foundedDate\n        timezone\n        joinMode\n        isPrivate\n        membershipMetadata
        {\n          status\n        }\n      }\n    }\n  }\n}","variables":{"query":"R-Ladies","first":10}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupSearch":{"pageInfo":{"hasNextPage":true,"endCursor":"MTA="},"totalCount":10,"edges":[{"node":{"id":"38199558","name":"ladies
        dinner bunco club","urlname":"ladies-dinner-bunco-club","city":"Fort Lauderdale","state":"FL","country":"us","lat":26.09,"lon":-80.24,"memberships":{"totalCount":13},"foundedDate":"2025-09-23T11:42:34-04:00","timezone":"America/New_York","joinMode":"OPEN","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"32767673","name":"R-Ladies
        Pachuca","urlname":"rladies-pachuca","city":"Pachuca","state":"","country":"mx","lat":20.12,"lon":-98.76,"memberships":{"totalCount":36},"foundedDate":"2019-09-15T05:15:37-05:00","timezone":"America/Mexico_City","joinMode":"OPEN","isPrivate":false,"membershipMetadata":{"status":"LEADER"}}},{"node":{"id":"35897820","name":"R-Ladies
        Gaborone","urlname":"rladies-gaborone","city":"Gaborone","state":"","country":"bw","lat":-24.65,"lon":[...]
