http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findGroups(\n  $query: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $lat: Float = 0.0\n  $lon: Float = 0.0\n  $radius: Float = 100000000.0\n  $categoryId:
        ID\n  $topicCategoryId: ID\n) {\n  groupSearch(\n    after: $cursor\n    first:
        $first\n    filter: {\n      query: $query\n      lat: $lat\n      lon: $lon\n      radius:
        $radius\n      categoryId: $categoryId\n      topicCategoryId: $topicCategoryId\n    }\n  )
        {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlname\n        city\n        state\n        country\n        lat\n        lon\n        memberships
        {\n          totalCount\n        }\n        foundedDate\n        timezone\n        joinMode\n        isPrivate\n        membershipMetadata
        {\n          status\n        }\n        \n      }\n    }\n  }\n}","variables":{"query":"R
        Ladies","first":200,"lat":51.507399999999997,"lon":-0.1278,"radius":50}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: "{\"data\":{\"groupSearch\":{\"pageInfo\":{\"hasNextPage\":true,\"endCursor\":\"MjAw\"},\"totalCount\":200,\"edges\":[{\"node\":{\"id\":\"38240082\",\"name\":\"South
        East: Ladies Travel and Social Friends\",\"urlname\":\"south-east-ladies-travel-and-social-friends\",\"city\":\"Tonbridge\",\"state\":\"G5\",\"country\":\"gb\",\"lat\":51.2,\"lon\":0.28,\"memberships\":{\"totalCount\":1},\"foundedDate\":\"2025-10-25T19:59:48+01:00\",\"timezone\":\"Europe/London\",\"joinMode\":\"APPROVAL\",\"isPrivate\":false,\"membershipMetadata\":null}},{\"node\":{\"id\":\"1594526\",\"name\":\"LondonR\",\"urlname\":\"londonr\",\"city\":\"London\",\"state\":\"17\",\"country\":\"gb\",\"lat\":51.51,\"lon\":-0.08,\"memberships\":{\"totalCount\":3862},\"foundedDate\":\"2010-02-05T11:28:33Z\",\"timezone\":\"Europe/London\",\"joinMode\":\"OPEN\",\"isPrivate\":false,\"membershipMetadata\":null}},{\"node\":{\"id\":\"37695344\",\"name\":\"London
        Women's Film and TV Discussion Group (LWFT)\",\"urlname\":\"london-womens-film-and-tv-discussio[...]
