http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findGroups(\n  $query: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $lat: Float = 0.0\n  $lon: Float = 0.0\n  $radius: Float = 100000000.0\n  $categoryId:
        ID\n  $topicCategoryId: ID\n) {\n  groupSearch(\n    after: $cursor\n    first:
        $first\n    filter: {\n      query: $query\n      lat: $lat\n      lon: $lon\n      radius:
        $radius\n      categoryId: $categoryId\n      topicCategoryId: $topicCategoryId\n    }\n  )
        {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlname\n        city\n        state\n        country\n        lat\n        lon\n        memberships
        {\n          totalCount\n        }\n        foundedDate\n        timezone\n        joinMode\n        isPrivate\n        membershipMetadata
        {\n          status\n        }\n      }\n    }\n    \n  }\n}","variables":{"query":"React","first":10}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupSearch":{"pageInfo":{"hasNextPage":true,"endCursor":"MTA="},"totalCount":10,"edges":[{"node":{"id":"38220234","name":"React
        Denver","urlname":"reactdenvercom","city":"Denver","state":"CO","country":"us","lat":39.7,"lon":-105.08,"memberships":{"totalCount":15},"foundedDate":"2025-10-09T15:35:45-06:00","timezone":"America/Denver","joinMode":"OPEN","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"23347751","name":"React
        Osaka","urlname":"react-osaka","city":"Osaka","state":"","country":"jp","lat":34.68,"lon":135.5,"memberships":{"totalCount":213},"foundedDate":"2017-04-19T21:47:42+09:00","timezone":"Asia/Tokyo","joinMode":"OPEN","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"20299732","name":"React
        HTX","urlname":"react-htx","city":"Houston","state":"TX","country":"us","lat":29.76,"lon":-95.36,"memberships":{"totalCount":2269},"foundedD[...]
[...]
