http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findGroups(\n  $query: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $lat: Float! = 0.0\n  $lon: Float! = 0.0\n  $radius: Float =
        100000000.0\n) {\n  groupSearch(\n    after: $cursor\n    first: $first\n    filter:
        {\n      query: $query\n      lat: $lat\n      lon: $lon\n      radius: $radius\n    }\n  )
        {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlname\n        city\n        state\n        country\n        lat\n        lon\n        memberships
        {\n          totalCount\n        }\n        foundedDate\n        timezone\n        joinMode\n        isPrivate\n        membershipMetadata
        {\n          status\n        }\n      }\n    }\n  }\n}","variables":{"query":"React","first":10}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupSearch":{"pageInfo":{"hasNextPage":true,"endCursor":"MTA="},"totalCount":10,"edges":[{"node":{"id":"38197596","name":"React
        Native Porto","urlname":"react-native-porto","city":"Porto","state":"","country":"pt","lat":41.15,"lon":-8.62,"memberships":{"totalCount":22},"foundedDate":"2025-09-22T06:18:27+01:00","timezone":"Europe/Lisbon","joinMode":"OPEN","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"22799127","name":"React
        CWB","urlname":"ReactJS-CWB","city":"Curitiba","state":"","country":"br","lat":-25.42,"lon":-49.29,"memberships":{"totalCount":2657},"foundedDate":"2017-03-06T15:45:01-03:00","timezone":"America/Sao_Paulo","joinMode":"OPEN","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"18415271","name":"React
        Melbourne","urlname":"React-Melbourne","city":"Melbourne","state":"","country":"au","lat":-37.81,"lon":144.96,"memberships":{"tot[...]
[...]
