http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findGroups(\n  $query: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $lat: Float! = 0.0\n  $lon: Float! = 0.0\n  $radius: Float =
        100000000.0\n) {\n  groupSearch(\n    after: $cursor\n    first: $first\n    filter:
        {\n      query: $query\n      lat: $lat\n      lon: $lon\n      radius: $radius\n    }\n  )
        {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlname\n        city\n        state\n        country\n        lat\n        lon\n        memberships
        {\n          totalCount\n        }\n        foundedDate\n        timezone\n        joinMode\n        isPrivate\n        membershipMetadata
        {\n          status\n        }\n      }\n    }\n  }\n}","variables":{"query":"Python","first":10}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupSearch":{"pageInfo":{"hasNextPage":true,"endCursor":"MTA="},"totalCount":10,"edges":[{"node":{"id":"38141562","name":"Python
        Accelerator","urlname":"montpellier-open-source-intelligence-meetup-group","city":"Montpellier","state":"","country":"fr","lat":43.61,"lon":3.87,"memberships":{"totalCount":9},"foundedDate":"2025-08-11T01:40:06+02:00","timezone":"Europe/Paris","joinMode":"OPEN","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"9085482","name":"paris.ex","urlname":"elixir","city":"Paris","state":"","country":"fr","lat":48.86,"lon":2.34,"memberships":{"totalCount":862},"foundedDate":"2013-06-25T09:57:40+02:00","timezone":"Europe/Paris","joinMode":"OPEN","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"19094966","name":"Python
        Frederick","urlname":"python-frederick","city":"Frederick","state":"MD","country":"us","lat":39.42,"lon":-77.34,"memberships":{"totalCount":1335},"foundedD[...]
[...]
