http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findGroups(\n  $query: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $lat: Float = 0.0\n  $lon: Float = 0.0\n  $radius: Float = 100000000.0\n  $categoryId:
        ID\n  $topicCategoryId: ID\n) {\n  groupSearch(\n    after: $cursor\n    first:
        $first\n    filter: {\n      query: $query\n      lat: $lat\n      lon: $lon\n      radius:
        $radius\n      categoryId: $categoryId\n      topicCategoryId: $topicCategoryId\n    }\n  )
        {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlname\n        city\n        state\n        country\n        lat\n        lon\n        memberships
        {\n          totalCount\n        }\n        foundedDate\n        timezone\n        joinMode\n        isPrivate\n        membershipMetadata
        {\n          status\n        }\n        description\n      }\n    }\n  }\n}","variables":{"query":"R
        Ladies","first":200}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: "{\"data\":{\"groupSearch\":{\"pageInfo\":{\"hasNextPage\":true,\"endCursor\":\"MjAw\"},\"totalCount\":200,\"edges\":[{\"node\":{\"id\":\"38219424\",\"name\":\"R
        gRanada\",\"urlname\":\"r-granada-es\",\"city\":\"Granada\",\"state\":\"\",\"country\":\"es\",\"lat\":37.17,\"lon\":-3.59,\"memberships\":{\"totalCount\":19},\"foundedDate\":\"2025-10-09T03:38:12+02:00\",\"timezone\":\"Europe/Madrid\",\"joinMode\":\"OPEN\",\"isPrivate\":false,\"membershipMetadata\":null,\"description\":\"This
        group is for anyone interested in R, statistics, and data science in Granada
        and nearby areas. We want to create a meeting point for people who use R daily,
        are learning, or are simply curious about the language and its ecosystem.\\nWho
        should join?\\nStudents and professionals in statistics, data science, computer
        science, economics, biomedicine, and related fields.\\nPeople new to R who
        want to learn in a supportive community.\\nExperience[...]
