http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Machine
        Learning","first":5}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"MTUxNTA4Ng=="},"totalCount":591,"edges":[{"node":{"id":"584902","name":"Machine
        Learning","urlkey":"machine-learning","description":null}},{"node":{"id":"488822","name":"Artificial
        Intelligence","urlkey":"artificial-intelligence","description":null}},{"node":{"id":"1511040","name":"Machine
        Learning In Cloud","urlkey":"machine-learning-in-cloud","description":null}},{"node":{"id":"1515086","name":"Machine
        Learning Apps","urlkey":"machine-learning-apps","description":null}}]}}}'
  recorded_at: 2025-09-16 14:28:47
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Machine
        Learning","first":5,"cursor":"MTUxNTA4Ng=="}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"MTUxNTA4Ng=="},"totalCount":591,"edges":[{"node":{"id":"584902","name":"Machine
        Learning","urlkey":"machine-learning","description":null}},{"node":{"id":"488822","name":"Artificial
        Intelligence","urlkey":"artificial-intelligence","description":null}},{"node":{"id":"1511040","name":"Machine
        Learning In Cloud","urlkey":"machine-learning-in-cloud","description":null}},{"node":{"id":"1515086","name":"Machine
        Learning Apps","urlkey":"machine-learning-apps","description":null}}]}}}'
  recorded_at: 2025-09-16 14:28:48
[...]
