http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Machine
        Learning","first":5}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJEb3VibGUiLCJ2YWx1ZSI6MTguNTEyNzAzfSx7InR5cGUiOiJTdHJpbmciLCJ2YWx1ZSI6IjE1MTIzMTgtZW5fVVMifV19"},"totalCount":595,"edges":[{"node":{"id":"97440","name":"M2M
        Machine-to-Machine","urlkey":"m2m-machine-to-machine","description":null}},{"node":{"id":"584902","name":"Machine
        Learning","urlkey":"machine-learning","description":null}},{"node":{"id":"98137","name":"Machine
        Intelligence","urlkey":"machine-intelligence","description":null}},{"node":{"id":"118575","name":"M2M
        Devices","urlkey":"m2m-devices","description":null}}]}}}'
  recorded_at: 2025-10-02 18:40:37
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Machine
        Learning","first":5,"cursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJEb3VibGUiLCJ2YWx1ZSI6MTguNTEyNzAzfSx7InR5cGUiOiJTdHJpbmciLCJ2YWx1ZSI6IjE1MTIzMTgtZW5fVVMifV19"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJEb3VibGUiLCJ2YWx1ZSI6MTguNTEyNzAzfSx7InR5cGUiOiJTdHJpbmciLCJ2YWx1ZSI6IjE1MTIzMTgtZW5fVVMifV19"},"totalCount":595,"edges":[{"node":{"id":"97440","name":"M2M
        Machine-to-Machine","urlkey":"m2m-machine-to-machine","description":null}},{"node":{"id":"584902","name":"Machine
        Learning","urlkey":"machine-learning","description":null}},{"node":{"id":"98137","name":"Machine
        Intelligence","urlkey":"machine-intelligence","description":null}},{"node":{"id":"118575","name":"M2M
        Devices","urlkey":"m2m-devices","description":null}}]}}}'
  recorded_at: 2025-10-02 18:40:37
[...]
