http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Data
        Science","first":20}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJEb3VibGUiLCJ2YWx1ZSI6MTQuNjI2MjAxfSx7InR5cGUiOiJTdHJpbmciLCJ2YWx1ZSI6IjE1MDk0NDktZW5fVVMifV19"},"totalCount":558,"edges":[{"node":{"id":"1413652","name":"Data
        Warehouse","urlkey":"data-warehouse","description":null}},{"node":{"id":"95904","name":"Data
        Privacy","urlkey":"data-privacy","description":null}},{"node":{"id":"37381","name":"Data
        Visualization","urlkey":"data-visualization","description":null}},{"node":{"id":"480642","name":"Data","urlkey":"data","description":null}},{"node":{"id":"1056672","name":"Big
        Data","urlkey":"big-data","description":"Meet other local people interested
        in Big Data!"}},{"node":{"id":"22620","name":"Business Intelligence & Data
        Warehousing","urlkey":"business-intelligence-data-warehousing","description":null}},{"node":{"id":"1515085","name":"Data
        Analytics","urlkey":"data-analytics","description":null}},{"node":{"id":"1401412","name":"Data
        Vault Database Modeling","urlkey":"data-vault-database-modeling","description":null}},{"node":{"id":"1514245","name":"Data
        Lakes","urlkey":"data-lakes","description":null}},{"node":{"id":"173333","name":"Data
        Governance","urlkey":"data-governance","description":null}},{"node":{"id":"102811","name":"Data
        Science","urlkey":"data-science","description":null}},{"node":{"id":"55324","name":"Data
        Mining","urlkey":"data-mining","description":null}},{"node":{"id":"1509449","name":"Data
        Engineering","urlkey":"data-engineering","description":null}}]}}}'
  recorded_at: 2025-09-21 19:47:12
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Data
        Science","first":20,"cursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJEb3VibGUiLCJ2YWx1ZSI6MTQuNjI2MjAxfSx7InR5cGUiOiJTdHJpbmciLCJ2YWx1ZSI6IjE1MDk0NDktZW5fVVMifV19"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJEb3VibGUiLCJ2YWx1ZSI6MTQuNjI2NDc4fSx7InR5cGUiOiJTdHJpbmciLCJ2YWx1ZSI6IjE1MDk0NDktZW5fVVMifV19"},"totalCount":558,"edges":[{"node":{"id":"1413652","name":"Data
 [...]
