http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Data
        Science","first":20}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"MjYzODU="},"totalCount":369,"edges":[{"node":{"id":"102811","name":"Data
        Science","urlkey":"data-science","description":null}},{"node":{"id":"126646","name":"Data
        Science using Python","urlkey":"data-science-using-python","description":null}},{"node":{"id":"1512214","name":"Data
        Science for Business","urlkey":"data-science-for-business","description":null}},{"node":{"id":"672792","name":"Data
        Science using R","urlkey":"data-science-using-r","description":null}},{"node":{"id":"1519593","name":"Data
        Science for Healthcare","urlkey":"data-science-for-healthcare","description":null}},{[...]
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Data
        Science","first":20,"cursor":"MjYzODU="}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"MjYzODU="},"totalCount":369,"edges":[{"node":{"id":"102811","name":"Data
        Science","urlkey":"data-science","description":null}},{"node":{"id":"126646","name":"Data
        Science using Python","urlkey":"data-science-using-python","description":null}},{"node":{"id":"1512214","name":"Data
   [...]
