http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query members(\n  $urlname: String!\n  $cursor: String\n  $first:
        Int = 1000\n) {\n  groupByUrlname(urlname: $urlname) {\n    id\n    name\n    memberships(after:
        $cursor, first: $first) {\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      totalCount\n      edges
        {\n        node {\n          id\n          name\n          memberUrl\n          memberPhoto
        {\n            baseUrl\n          }\n        }\n        metadata {\n          status\n          role\n          joinTime\n          lastAccessTime\n        }\n      }\n    }\n    \n  }\n}","variables":{"urlname":"rladies-lagos","first":200}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupByUrlname":{"id":"32612004","name":"R-Ladies Lagos","memberships":{"pageInfo":{"hasNextPage":true,"endCursor":"MTU4MjUzMjAzMDAwMDozMDMyMzg2NzA="},"totalCount":861,"edges":[{"node":{"id":"251470805","name":"R-Ladies
        Global","memberUrl":"https://www.meetup.com/members/251470805/","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"}},"metadata":{"status":"LEADER","role":"ORGANIZER","joinTime":"2019-08-16T09:45:21+01:00","lastAccessTime":"2025-09-10T12:35:45+01:00"}},{"node":{"id":"225839690","name":"EYITAYO
        ALIMI","memberUrl":"https://www.meetup.com/members/225839690/","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"}},"metadata":{"status":"LEADER","role":"COORGANIZER","joinTime":"2019-08-16T15:33:34+01:00","lastAccessTime":"2025-03-28T21:56:10+01:00"}},{"node":{"id":"236466773","name":"Adedamilola
        Adekanye","memberUrl":"https://www.meetup.com/members/236466773/","memberP[...]
