http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query GetSelf($extended: Boolean = true) {\n  self {\n    id\n    name\n    email\n    isOrganizer\n    isLeader\n    isMemberPlusSubscriber  \n    isProOrganizer\n    adminProNetworks
        @include(if: $extended) {\n      id\n      name\n    }\n    bio @include(if:
        $extended)\n    city @include(if: $extended)\n    country @include(if: $extended)\n    state
        @include(if: $extended)\n    lat @include(if: $extended)\n    lon @include(if:
        $extended)\n    startDate @include(if: $extended)\n    preferredLocale @include(if:
        $extended)\n    memberUrl @include(if: $extended)\n    \n  }\n}","variables":{"extended":false}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"self":{"id":"251470805","name":"R-Ladies Global","email":"meetup@rladies.org","isOrganizer":true,"isLeader":true,"isMemberPlusSubscriber":false,"isProOrganizer":true}}}'
  recorded_at: 2025-09-11 21:04:03
recorded_with: VCR-vcr/2.0.0
