http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"\n  query { self { \n    isProOrganizer \n    } }\n  ","variables":{}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"self":{"isProOrganizer":true}}}'
  recorded_at: 2025-10-19 16:29:38
[...]
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query proEvents(\n  $urlname: ID!,\n  $first: Int = 1000,\n  $cursor:
        String\n  $date_after: DateTime\n  $date_before: DateTime\n  $status: [String!]\n  )
        {\n  proNetwork(urlname: $urlname) {\n    eventsSearch(\n      input: {\n        after:
        $cursor, \n        first: $first, \n        filter: {\n          eventDateMax:
        $date_before\n          eventDateMin: $date_after\n          status: $status\n          }\n        }\n      )
        {\n      totalCount\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      edges
        {\n        node {\n          id\n          title\n          description\n          status\n          dateTime\n          duration\n          eventUrl\n          featuredEventPhoto
        {\n            id\n            baseUrl\n            highResUrl\n            standardUrl\n            thumbUrl\n          }\n          rsvps
        {\n            yesCount\n            waitlistCount\n            totalCount\n          }\n          venues
        {\n            id\n            name\n            address\n            city\n            state\n            country\n            lat\n            lon\n            postalCode\n            venueType\n          }\n          group
        {\n            name\n            urlname\n          }\n          \n        }\n      }\n    }\n  }\n}","variables":{"urlname":"rladies","first":5,"status":"CANCELLED"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"proNetwork":{"eventsSearch":{"totalCount":218,"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJMb25nIiwidmFsdWUiOjE3MzM4NzUyMDAwMDB9LHsidHlwZSI6IkxvbmciLCJ2YWx1ZSI6MzAzOTg5ODE1fV19"},"edges":[{"node":{"id":"310482419","title":"[DRAFT]
        Introduction to building Shiny Apps with {RHINO}","description":"Ready to
        take your Shiny skills to the next level? Join us for an interactive workshop
        on building modern, production-grade Shiny applications with the {rhino} framework.\n\nIn
        this practical session, you’ll learn how to:\n\n* Explore the structure and
        features of a real-world {rhino}-built Shiny app\n* Follow a step-by-step,
        hands-on tutorial to create your own {rhino} app\n* Use AI-powered development
        to rapidly design and build a Shiny module\n[...]
