http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"\n  query { self {\n    isProOrganizer\n    } }\n  ","variables":{}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"self":{"isProOrganizer":true}}}'
  recorded_at: 2025-11-27 15:41:16
[...]
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query proEvents(\n  $urlname: ID!,\n  $first: Int = 1000,\n  $cursor:
        String\n  $date_after: DateTime\n  $date_before: DateTime\n  $status: [String!]\n  )
        {\n  proNetwork(urlname: $urlname) {\n    eventsSearch(\n      input: {\n        after:
        $cursor, \n        first: $first, \n        filter: {\n          eventDateMax:
        $date_before\n          eventDateMin: $date_after\n          status: $status\n          }\n        }\n      )
        {\n      totalCount\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      edges
        {\n        node {\n          id\n          title\n          description\n          status\n          dateTime\n          duration\n          eventUrl\n          featuredEventPhoto
        {\n            id\n            baseUrl\n            highResUrl\n            standardUrl\n            thumbUrl\n          }\n          rsvps
        {\n            yesCount\n            waitlistCount\n            totalCount\n          }\n          venues
        {\n            id\n            name\n            address\n            city\n            state\n            country\n            lat\n            lon\n            postalCode\n            venueType\n          }\n          group
        {\n            name\n            urlname\n          }\n          \n        }\n      }\n    }\n  }\n}","variables":{"urlname":"rladies","first":5,"status":"CANCELLED"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"proNetwork":{"eventsSearch":{"totalCount":220,"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJMb25nIiwidmFsdWUiOjE3NDY4ODU2MDAwMDB9LHsidHlwZSI6IkxvbmciLCJ2YWx1ZSI6MzA2NTk4MDIzfV19"},"edges":[{"node":{"id":"310990549","title":"16º
        Meet Up: Pré-processamento e Tratamento de Dados com Tidyverse em R","description":"Este
        minicurso oferecerá uma introdução prática ao pré-processamento e tratamento
        de dados utilizando o ecossistema Tidyverse no ambiente R e RStudio. Os participantes
        aprenderão a importar, limpar, transformar e organizar conjuntos de dados
        de forma eficiente e reprodutível, utilizando as principais ferramentas do
        Tidyverse. O foco será em preparar os dados para análises estatísticas e visualizações,
        uma etapa fundamental em qualquer projeto de ciência de dados.","status":"CANCELLED","dateTime":"2025-11-25T18:00:00-03:00","duration":"PT3H","eventUrl":"https://www.meetup.com/rladies-niteroi/events/310990549/","featuredEventPhoto":null,"rsvps":{"yesCount":79,"waitlistCount":0,"totalCount":79},"venues":[{"id":"26906060","name":"Online
        event","address":"","city":"","state":"","country":"","lat":-8.521147,"lon":179.1962,"postalCode":"","venueType":"online"}],"group":{"name":"R-Ladies
        Niterói","urlname":"rladies-niteroi"}}},{"node":{"id":"310294379","title":"desencapsulado()","description":"☁️
        O ar tá diferente… tem algo no código.\n\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\nNão
        é só uma palestra. É um evento.\n\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\nNos
        siga nas redes sociais: @rladiesgyn\n#VemAí #MistérioNoConsole","status":"CANCELLED","dateTime":"2025-10-25T14:00:00-03:00","duration":"PT4H","eventUrl":"https://www.meetup.com/rladies-goiania/events/310294379/","featuredEventPhoto":{"id":"529386514","baseUrl":"https://secure-content.meetupstatic.com/images/classic-events/","highResUrl":"https://secure.meetupstatic.com/photos/event/1/9/7/2/highres_529386514.jpeg","standardUrl":"https://secure.meetupstatic.com/photos/event/1/9/7/2/600_529386514.jpeg","thumbUrl":"https://secure.meetupstatic.com/photos/event/1/9/7/2/thumb_529386514.jpeg"},"rsvps":{"yesCount":8,"waitlistCount":0,"totalCount":8},"venues":[{"id":"26906060","name":"Online
        event","address":"","city":"","state":"","country":"","lat":-8.521147,"lon":179.1962,"postalCode":"","venueType":"online"}],"group":{"name":"R-Ladies
        Goiânia","urlname":"rladies-goiania"}}},{"node":{"id":"310482419","title":"[DRAFT]
        Introduction to building Shiny Apps with {RHINO}","description":"Rea[...]
