http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query proEvents(\n  $urlname: ID!,\n  $first: Int = 1000,\n  $cursor:
        String\n  $date_after: DateTime\n  $date_before: DateTime\n  $status: [String!]\n  )
        {\n  proNetwork(urlname: $urlname) {\n    eventsSearch(\n      input: {\n        after:
        $cursor, \n        first: $first, \n        filter: {\n          eventDateMax:
        $date_before\n          eventDateMin: $date_after\n          status: $status\n          }\n        }\n      )
        {\n      totalCount\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      edges
        {\n        node {\n          id\n          title\n          description\n          status\n          dateTime\n          duration\n          eventUrl\n          featuredEventPhoto
        {\n            id\n            baseUrl\n            highResUrl\n            standardUrl\n            thumbUrl\n          }\n          rsvps
        {\n            yesCount\n            waitlistCount\n            totalCount\n          }\n          venues
        {\n            id\n            name\n            address\n            city\n            state\n            country\n            lat\n            lon\n            postalCode\n            venueType\n          }\n          group
        {\n            name\n            urlname\n          }\n          \n        }\n      }\n    }\n  }\n}","variables":{"urlname":"rladies","first":5,"status":["ACTIVE","AUTOSCHED","AUTOSCHED_CANCELLED","AUTOSCHED_DRAFT","AUTOSCHED_FINISHED","BLOCKED","CANCELLED","CANCELLED_PERM","DRAFT","PAST","PENDING","PROPOSED","TEMPLATE","UPCOMING"]}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"proNetwork":{"eventsSearch":{"totalCount":5123,"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJMb25nIiwidmFsdWUiOjE3NjI4OTg0MDAwMDB9LHsidHlwZSI6IkxvbmciLCJ2YWx1ZSI6MzEwNjU1MjMwfV19"},"edges":[{"node":{"id":"311527696","title":"Lunch
        & learn with Casey Aguilar-Gervase","description":"TBD","status":"ACTIVE","dateTime":"2025-12-09T12:00:00-05:00","duration":"PT1H","eventUrl":"https://www.meetup.com/rladies-philly/events/311527696/","featuredEventPhoto":null,"rsvps":{"yesCount":2,"waitlistCount":0,"totalCount":2},"venues":[{"id":"26906060","name":"Online
        event","address":"","city":"","state":"","country":"","lat":-8.521147,"lon":179.1962,"postalCode":"","venueType":"online"}],"group":{"name":"R-Ladies
        Philly","urlname":"rladies-philly"}}},{"node":{"id":"310294392","title":"Release
        0.0.1","description":"☁️ O ar tá diferente… tem algo no código.\n\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\nNão
        é só uma palestra. É um evento.\n\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\\-\nNos
        siga nas redes sociais: @rladiesgyn\n#VemAí #MistérioNoConsole","status":"ACTIVE","dateTime":"2025-11-29T14:00:00-03:00","duration":"PT4H","eventUrl":"https://www.meetup.com/rladies-goiania/events/310294392/","featuredEventPhoto":{"id":"529386540","baseUrl":"https://secure-content.meetupstatic.com/images/classic-events/","highResUrl":"https://secure.meetupstatic.com/photos/event/1/9/8/c/highres_529386540.jpeg","standardUrl":"https://secure.meetupstatic.com/photos/event/1/9/8/c/600_529386540.jpeg","thumbUrl":"https://secure.meetupstatic.com/photos/event/1/9/8/c/thumb_529386540.jpeg"},"rsvps":{"yesCount":5,"waitlistCount":0,"totalCount":5},"venues":[{"id":"26906060","name":"Online
        event","address":"","city":"","state":"","country":"","lat":-8.521147,"lon":179.1962,"postalCode":"","venueType":"online"}],"group":{"name":"R-Ladies
        Goiânia","urlname":"rladies-goiania"}}},{"node":{"id":"310990549","title":"Pré-processamento
        e Tratamento de Dados com Tidyverse em R","description":"E[...]
