http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query getEvent($id: ID!) {\n  event(id: $id) {\n    id\n    title\n    eventUrl\n    createdTime\n    status\n    dateTime\n    duration\n    description\n    \n    group
        {\n      id\n      name\n      urlname\n    }\n    \n    venues {\n      id\n      name\n      address\n      city\n      state\n      postalCode\n      country\n      lat\n      lon\n      venueType\n    }\n    \n    rsvps(first:
        1) {\n      totalCount\n    }\n    \n    featuredEventPhoto {\n      baseUrl\n    }\n    \n    feeSettings
        {\n      required\n      amount\n      currency\n      accepts\n      refundPolicy
        {\n        notes\n        days\n      }\n    }\n    \n    \n  }\n}","variables":{"id":"103349942"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"event":{"id":"103349942","title":"Ecosystem GIS & Community
        Building","eventUrl":"https://www.meetup.com/data-visualization-dc/events/103349942/","createdTime":"2013-02-06T14:01:17-05:00","status":"PAST","dateTime":"2013-02-18T18:30:00-05:00","duration":"PT2H","description":"Hello
        New DVDC Members!\n\nIs Data Visualization a science or an art? Our goal is
        to create great events where everyones'' experiences reflect that sentiment,
        and we are beginning a great speaker in Joseph Sexton (http://www.terpconnect.umd.edu/~jsexton/).
        Joe will give us a glimpse of his department''s unique global ecological datasets,
        with stunning visuals, and what goes into unparalleled GIS data. Joe''s datasets
        include DISCO (Dynamic Impervi[...]
