http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query members(\n  $urlname: String!\n  $cursor: String\n  $first:
        Int = 1000\n) {\n  groupByUrlname(urlname: $urlname) {\n    id\n    name\n    memberships(after:
        $cursor, first: $first) {\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      totalCount\n      edges
        {\n        node {\n          id\n          name\n          memberUrl\n          memberPhoto
        {\n            baseUrl\n          }\n        }\n        metadata {\n          status\n          role\n          joinTime\n          lastAccessTime\n        }\n      }\n    }\n    \n  }\n}","variables":{"urlname":"rladies-san-francisco"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupByUrlname":{"id":"5190472","name":"R-Ladies San Francisco","memberships":{"pageInfo":{"hasNextPage":true,"endCursor":"MTUyNTY0MDk0OTAwMDoyNDM1ODEzMDI="},"totalCount":1868,"edges":[{"node":{"id":"14534094","name":"Gabriela
        de Queiroz","memberUrl":"https://www.meetup.com/members/14534094/","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"}},"metadata":{"status":"LEADER","role":"COORGANIZER","joinTime":"2012-10-01T12:28:21-07:00","lastAccessTime":"2025-09-08T18:29:38-07:00"}},{"node":{"id":"64513952","name":"T.
        Libman","memberUrl":"https://www.meetup.com/members/64513952/","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"}},"metadata":{"status":"ACTIVE","role":"MEMBER","joinTime":"2012-10-01T14:04:47-07:00","lastAccessTime":"2012-10-22T17:44:38-07:00"}},{"node":{"id":"25902562","name":"Maggie
        L.","memberUrl":"https://www.meetup.com/members/25902562/","memberPhoto":{"baseUrl":"https:[...]
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query members(\n  $urlname: String!\n  $cursor: String\n  $first:
        Int = 1000\n) {\n  groupByUrlname(urlname: $urlname) {\n    id\n    name\n    memberships(after:
        $cursor, first: $first) {\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      totalCount\n      edges
        {\n        node {\n          id\n          name\n          memberUrl\n          memberPhoto
        {\n            baseUrl\n          }\n        }\n        metadata {\n          status\n          role\n          joinTime\n          lastAccessTime\n        }\n      }\n    }\n    \n  }\n}","variables":{"urlname":"rladies-san-francisco","cursor":"MTUyNTY0MDk0OTAwMDoyNDM1ODEzMDI="}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupByUrlname":{"id":"5190472","name":"R-Ladies San Francisco","memberships":{"pageInfo":{"hasNextPage":false,"endCursor":"MTc2MDgyNzU0NzAwMDo0NzY2MzY3NzM="},"totalCount":1868,"edges":[{"node":{"id":"12304328","name":"Xi
        Zhao","memberUrl":"https://www.meetup.com/members/12304328/","memberPhoto":{"baseUrl":"https://secure-con[...]
