http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findGroups(\n  $query: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $lat: Float = 0.0\n  $lon: Float = 0.0\n  $radius: Float = 100000000.0\n  $categoryId:
        ID\n  $topicCategoryId: ID\n) {\n  groupSearch(\n    after: $cursor\n    first:
        $first\n    filter: {\n      query: $query\n      lat: $lat\n      lon: $lon\n      radius:
        $radius\n      categoryId: $categoryId\n      topicCategoryId: $topicCategoryId\n    }\n  )
        {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlname\n        city\n        state\n        country\n        lat\n        lon\n        memberships
        {\n          totalCount\n        }\n        foundedDate\n        timezone\n        joinMode\n        isPrivate\n        membershipMetadata
        {\n          status\n        }\n        \n      }\n    }\n  }\n}","variables":{"query":"R-Ladies","first":200}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: "{\"data\":{\"groupSearch\":{\"pageInfo\":{\"hasNextPage\":true,\"endCursor\":\"MjAw\"},\"totalCount\":200,\"edges\":[{\"node\":{\"id\":\"38267718\",\"name\":\"R
        User Group – Nueva Vizcaya State University (RNVSU)\",\"urlname\":\"r-nvsu\",\"city\":\"Manila\",\"state\":\"\",\"country\":\"ph\",\"lat\":14.62,\"lon\":120.97,\"memberships\":{\"totalCount\":3},\"foundedDate\":\"2025-11-18T14:39:38+08:00\",\"timezone\":\"Asia/Manila\",\"joinMode\":\"OPEN\",\"isPrivate\":false,\"membershipMetadata\":null}},{\"node\":{\"id\":\"24820200\",\"name\":\"R-Ladies
        CDMX\",\"urlname\":\"rladies-cdmx\",\"city\":\"México City\",\"state\":\"\",\"country\":\"mx\",\"lat\":19.43,\"lon\":-99.14,\"memberships\":{\"totalCount\":2944},\"foundedDate\":\"2017-07-03T23:36:23-05:00\",\"timezone\":\"America/Mexico_City\",\"joinMode\":\"OPEN\",\"isPrivate\":false,\"membershipMetadata\":{\"status\":\"LEADER\"}}},{\"node\":{\"id\":\"20378903\",\"name\":\"R-Ladies
        Melbourne\",\"urlname\":\"rladies-melbo[...]
