http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query groupEvents(\n  $urlname: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $status: [EventStatus!]\n  $date_after: DateTime\n  $date_before:
        DateTime\n) {\n  groupByUrlname(urlname: $urlname) {\n    id\n    name\n    events(\n      after:
        $cursor\n      first: $first\n      filter: {\n        status: $status\n        afterDateTime:
        $date_after\n        beforeDateTime: $date_before\n      }\n    ) {\n      pageInfo
        {\n        hasNextPage\n        endCursor\n      }\n      totalCount\n      edges
        {\n        cursor\n        node {\n          ...eventFields\n        }\n      }\n    }\n  }\n}\n\nfragment
        eventFields on Event {\n  id\n  title\n  eventUrl\n  createdTime\n  status\n  dateTime\n  duration\n  description\n  \n  group
        {\n    id\n    name\n    urlname\n  }\n  \n  venues {\n    id\n    name\n    address\n    city\n    state\n    postalCode\n    country\n    lat\n    lon\n    venueType\n  }\n  \n  rsvps(first:
        1) {\n    totalCount\n  }\n  \n  featuredEventPhoto {\n    baseUrl\n  }\n  \n  feeSettings
        {\n    required\n    amount\n    currency\n    accepts\n    refundPolicy {\n      notes\n      days\n    }\n  }\n  \n  \n}","variables":{"urlname":"rladies-san-francisco","status":"PAST","process_data":["function
        (data, ...) ","{","    process_datetime_fields(dplyr::mutate(data, venues_country
        = get_country_code(venues_country)), ","        c(\"created_time\", \"date_time\"))","}"]}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: "{\"data\":{\"groupByUrlname\":{\"id\":\"5190472\",\"name\":\"R-Ladies
        San Francisco\",\"events\":{\"pageInfo\":{\"hasNextPage\":false,\"endCursor\":\"MzA3NjI1NjMzOjE3NDY3NTI0MDAwMDA=\"},\"totalCount\":65,\"edges\":[{\"cursor\":\"ODUzMjAzODI6MTM1MTczMTYwMDAwMA==\",\"node\":{\"id\":\"85320382\",\"title\":\"Introduction
        to R (beginners and pre-beginners)\",\"eventUrl\":\"https://www.meetup.com/rladies-san-francisco/events/85320382/\",\"createdTime\":\"2012-10-03T13:17:44-04:00\",\"status\":\"PAST\",\"dateTime\":\"2012-10-31T18:00:00-07:00\",\"duration\":\"PT2H\",\"description\":\"Hello
        R-ladies!\\n\\nThe first meetup will take place on October 31st at the Google
        office in San Francisco.\\n\\nFor this first meetup, we'll do an introduction
        to R. We'll go over the following topics:\\n\\ninstalling R setting up an
        R environment (RStudio) basic commands (open files, simple dataset manipulation,
        simple plots, etc) loading packages the help function and how to read its
        output\\n\\nAll you need is your laptop and charger.\\n\\nWe look forward
        to seeing you!\",\"group\":{\"id\":\"5190472\",\"name\":\"R-Ladies San Francisco\",\"urlname\":\"rladies-san-francisco\"},\"venues\":[{\"id\":\"7927512\",\"name\":\"Google
        San Francisco\",\"address\":\"4th floor, 345 Spear Street\",\"city\":\"San
        Francisco\",\"state\":\"CA\",\"postalCode\":\"94105\",\"country\":\"us\",\"lat\":37.789761,\"lon\":-122.390175,\"venueType\":\"\"}],\"rsvps\":{\"totalCount\":15},\"featuredEventPhoto\":null,\"feeSettings\":null}},{\"cursor\":\"MTAxMDMyNDYyOjEzNjA1MzM2MDAwMDA=\",\"node\":{\"id\":\"101032462\",\"title\":\"R
        & Coffee\",\"eventUrl\":\"https://www.meetup.com/rladies-san-francisco/events/101032462/\",\"createdTime\":\"2013-01-23T14:12:43-05:00\",\"status\":\"PAST\",\"dateTime\":\"2013-02-10T14:00:00-08:00\",\"duration\":\"PT3H\",\"description\":\"Hello
        R-ladies,\\n\\nIt's time to get together again!\\nIn this second meetup I'd
        like to do something more informal.\\nLet's meet in t[...]
