http_interactions:
- request:
    method: post
    uri: https://api.meetup.com/gql
    body:
      encoding: ''
      string: '{"query":"query keywordSearch(\n  # $topicCategoryId: Int! = 546\n  $topicCategoryId:
        Int = null\n  $searchSources: [SearchSources!]! = [GROUPS]\n  # $query: String!
        = \"R-Ladies\"\n  $query: String!\n  $lat: Float = 0\n  $lon: Float = 0\n  $radius:
        Int = 100000000\n  $first: Int = 1000\n  $cursor: String\n) {\n  keywordSearch(\n    input:
        { first: $first, after: $cursor }\n    filter: {\n      query: $query\n      lat:
        $lat\n      lon: $lon\n      radius: $radius\n      topicCategoryId: $topicCategoryId\n      source:
        $searchSources\n    }\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    count\n    edges
        {\n      # cursor\n      node {\n        # id\n        result {\n          ...
        on Group {\n            id\n            name\n            urlname\n            latitude\n            longitude\n            city\n            state\n            country\n            membershipMetadata
        {\n              status\n            }\n            memberships {\n              count\n            }\n            foundedDate\n            timezone\n            joinMode\n            who:
        customMemberLabel\n            isPrivate\n            category: topicCategory
        {\n              id\n              name\n            }\n            \n          }\n        }\n      }\n    }\n  }\n}","variables":{"query":"R-Ladies","lat":0,"lon":0,"radius":100000000}}'
    headers:
      Content-Type: ''
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":{"keywordSearch":{"pageInfo":{"hasNextPage":false,"endCursor":""},"count":197,"edges":[{"node":{"result":{"id":"34931648","name":"R-Ladies Brasília","urlname":"rladies-brasilia","latitude":-15.78,"longitude":-47.91,"city":"Brasília","state":"","country":"br","membershipMetadata":null,"memberships":{"count":68},"foundedDate":"2021-03-21T13:04:23-03:00","timezone":"America/Sao_Paulo","joinMode":"OPEN","who":"R-Ladies","isPrivate":false,"category":{"id":"546","name":"Technology"}}}},{"node":{"result":{"id":"34955861","name":"R-Ladies Göttingen","urlname":"rladies-gottingen","latitude":51.53,"longitude":9.92,"city":"Göttingen","state":"","country":"de","membershipMetadata":null,"memberships":{"count":48},"foundedDate":"2021-03-27T00:08:25+01:00","timezone":"Europe/Berlin","joinMode":"OPEN","who":"R-Ladies","isPrivate":false,"category":{"id":"546","name":"Technology"}}}},{"node":{"result":{"id":"34955933","name":"R-Ladies C[...]
