http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/find/groups?offset=0&text=London-Pub&topic_id=&fields=&radius=global
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-12-71
      x-meetup-request-id: 2e887387-d253-4e92-ac77-83edc02b4666
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '10'
      link: <https://api.meetup.com/find/groups?page=200&text=London-Pub&radius=global&topic_id=&offset=1&fields=>;
        rel="next"
      x-total-count: '411'
      etag: '"252e0e04d1e9aaa445247b42c7a416f5-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: "[{\"score\":4654.0,\"id\":14787602,\"name\":\"North London Meet Your
        Neighbours\",\"status\":\"active\",\"link\":\"https://www.meetup.com/North-London-Meet-Your-Neighbours/\",\"urlname\":\"North-London-Meet-Your-Neighbours\",\"description\":\"<p>North
        London Meet Your Neighbours organises events in the Barnet, Camden, Haringey
        and&nbsp;Islington areas&nbsp; aimed at locals who want to meet other locals
        of all ages. We aim to recruit graduates, professionals and other folks who
        share our tastes in activities. Relaxed events, including a regular monthly
        Highgate club night, are an ideal way to get to know people. Like our parent
        club London IVC we mostly attract people in their 40s, 50s and 60s - but folks
        of all ages are welcome.<br></p>\\n<p>We want to involve our members in organising
        our programme. If you have any ideas for events let us know. <br></p>\\n<p>We
        prefer members to post their real name and a photo so that we can recognise
        you at events. <br></p>\\n<p>We share some events with the London IVC membership
        club which is our parent organisation. This is London's best social and activities
        club for professional people. For information see <a href=\\\"http://www.londonivc.com\\\">www.londonivc.com&nbsp;
        <br></a></p>\",\"created\":1401545334000,\"city\":\"London\",\"untranslated_city\":\"London\",\"country\":\"GB\",\"localized_country_name\":\"United
        Kingdom\",\"localized_location\":\"London, United Kingdom\",\"region2\":\"Greater
        London\",\"state\":\"17\",\"join_mode\":\"open\",\"visibility\":\"public\",\"lat\":51.58,\"lon\":-0.15,\"members\":2843,\"member_pay_fee\":false,\"wepay_fee_deprecated\":true,\"organizer\":{\"id\":11499919,\"name\":\"Neil
        Barker\",\"bio\":\"\",\"photo\":{\"id\":209651632,\"photo_link\":\"https://secure.meetupstatic.com/photos/member/2/d/7/0/member_209651632.jpeg\",\"thumb_link\":\"https://secure.meetupstatic.com/photos/member/2/d/7/0/thumb_209651632.jpeg\",\"type\":\"member\",\"base_url\":\"https://secure.meetupstatic.com\"}},\"who\":\"MYNers\",\"lang\":\"en_US\",\"key_photo\":{\"id\":456831062,\"highres_link\":\"https://secure.meetupstatic.com/photos/event/c/7/7/6/highres_456831062.jpeg\",\"photo_link\":\"https://secure.meetupstatic.com/photos/event/c/7/7/6/600_456831062.jpeg\",\"thumb_link\":\"https://secure.meetupstatic.com/photos/event/c/7/7/6/thumb_456831062.jpeg\",\"type\":\"event\",\"base_url\":\"https://secure.meetupstatic.com\"},\"timezone\":\"Europe/London\",\"next_event\":{\"id\":\"trdvfsyccfbfc\",\"name\":\"Slim
        and Trim Pilates\",\"yes_rsvp_count\":2,\"time\":1616522400000,\"utc_offset\":0},\"category\":{\"id\":31,\"name\":\"Socializing\",\"shortname\":\"socializing\",\"sort_name\":\"Socializing\"},\"meta_category\":{\"id\":272,\"shortname\":\"social\",\"name\":\"Social\",\"sort_name\":\"Social\",\"photo\":{\"id\":450131947,\"highres_link\":\"https://secure.meetupstatic.com/photos/event/2/e/a/b/highres_450131947.jpeg\",\"photo_link\":\"https://secure.meetupstatic.com/photos/event/2/e/a/b/600_450131947.jpeg\",\"thumb_link\":\"https://secure.meetupstatic.com/photos/event/2/e/a/b/thumb_450131947.jpeg\",\"type\":\"event\",\"base_url\":\"https://secure.meetupstatic.com\"},\"category_ids\":[31]}},{\"score\":4652.0,\"id\":26126366,\"name\":\"Get
        Social London\",\"status\":\"active\",\"link\":\"https://www.meetup.com/Get-Social-London/\",\"urlname\":\"Get-Social-London\",\"description\":\"<p><b>FREE</b>
        &amp; paid social events across the worlds capital. Get Social London is a
        fun way to explore popular places in London and make friends at the same time.
        Our members will be aged 18 - 40 &amp; from all over the world.&nbsp;</p>\\n<p><img
        src=\\\"https://secure.meetupstatic.com/photos/event/a/0/a/600_465062570.jpeg\\\"></p>\\n<p><span>We
        will organise many events. From dining out, clubbing, pub crawls, Karaoke,
        language exchange, bowling and much more! If you are new to London, or have
        been here a long time, if you are a student or professional you are welcome
        to join our fantastic social events!&nbsp;</span> <br></p>\\n<p><img src=\\\"https://secure.meetupstatic.com/photos/event/a/0/b/600_465062571.jpeg\\\"></p>\\n<p><span>We
        understand London is expensive! So we host both </span><b>FREE</b><span> and
        paid events to suit any budget. Our events take place all day and night, weekdays
        and weekends. If ever you are looking for something to do, we are confident
        you will always find new and interesting socials right here!</span> <br></p>\\n<p><img
        src=\\\"https://secure.meetupstatic.c[...]
- request:
    method: get
    uri: https://api.meetup.com/find/groups?page=200&text=London-Pub&radius=global&topic_id=&offset=1&fields=
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: '"044bcca8fc938c1dddc8d4635c2fca42-gzip"'
      link:
      - <https://api.meetup.com/find/groups?page=200&text=London-Pub&radius=global&topic_id=&offset=2&fields=>;
        rel="next"
      - <https://api.meetup.com/find/groups?page=200&text=London-Pub&radius=global&topic_id=&offset=0&fields=>;
        rel="prev"
      x-accepted-oauth-scopes: basic
      x-meetup-request-id: eac26b7c-6dbc-4189-aa7b-864aebbe922c
      x-meetup-server: ip-10-192-22-152
      x-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '28'
      x-ratelimit-reset: '8'
      x-total-count: '411'
    body:
      encoding: UTF-8
      file: no
      string: "[{\"score\":2608.0,\"id\":2384181,\"name\":\"Photography Meetups, Photographic
        Guided Tours  & Workshops\",\"status\":\"active\",\"link\":\"https://www.meetup.com/PhotoMeetup/\",\"urlname\":\"PhotoMeetup\",\"description\":\"<p><img
        src=\\\"https://secure.meetupstatic.com/photos/event/1/3/9/e/600_371885022.jpeg\\\"></p>\\n<p><strong>Hi
        photographers,</strong></p>\\n<p>&nbsp;<strong>Welcome to The Photography
        Meetups, Photographic Guided Tours &amp; Workshops</strong>.&nbsp;</p>\\n<p>&nbsp;
        <b>Please</b>&nbsp;<b>feel welcome to join our guided photography walks &amp;
        workshops - whatever your level of experience - whether you have a dslr, or
        a mirrorless camera or a smart phone - or you are at&nbsp; beginner to&nbsp;
        advanced levels .&nbsp; &nbsp;The approach here is to immerse[...]
