http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/find/groups?offset=0&text=R-Ladies&topic_id=&fields=&radius=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-13-41
      x-meetup-request-id: 1298a8d3-9a0c-4a4d-b293-812ec9bfbbdb
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '10'
      x-total-count: '1'
      etag: '"491e93d4674075e64a1d798d8863c4f5-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"score":7540.0,"id":28887085,"name":"R-Ladies Remote","status":"active","link":"https://www.meetup.com/rladies-remote/","urlname":"rladies-remote","description":"<p>R-Ladies
        Remote welcomes members of all R proficiency levels, whether you''re a new
        or aspiring R user, or an experienced R programmer interested in mentoring,
        networking & expert upskilling. Our community is designed to develop our members''
        R skills & knowledge through social, collaborative learning & sharing. Supporting
        minority identity access to STEM skills & careers, the Free Software Movement,
        and contributing to the global R community! <br>A local chapter of R-Ladies
        Global, R-Ladies Remote exists to promote gender diversity in the R community
        worldwide. We are pro-actively inclusive of queer, trans, and all minority
        identities, with additional sensitivity to intersectional identities. Our
        priority is to provide a safe community space for anyone identifying as a
        minority gender who is interested in and/or working with R. As a founding
        principle, there is no cost or charge to particip[...]
