http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/find/groups?offset=0&text=Ansible&topic_id=&fields=&radius=global
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-2-5
      x-meetup-request-id: 8eab5351-8b92-4af6-9e58-00c5bd8efccf
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '10'
      link: <https://api.meetup.com/find/groups?page=200&text=Ansible&radius=global&topic_id=&offset=1&fields=>;
        rel="next"
      x-total-count: '323'
      etag: '"06ea68ce9c551e100cff15e5262ac1a0-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: "[{\"score\":3791.0,\"id\":18584167,\"name\":\"Ansible São Paulo\",\"status\":\"active\",\"link\":\"https://www.meetup.com/Ansible-Sao-Paulo/\",\"urlname\":\"Ansible-Sao-Paulo\",\"description\":\"<p>Sejam
        bem vindos ao <i>Ansible</i> São Paulo! Somos um grupo de Engenheiros de Sistemas
        e pessoal de DevOps interessados em utilizar <i>Ansible</i> para tudo. Você
        terá a oportunidade de se reunir com outros Engenheiros de Sistemas e de Software
        para aprender mais sobre <i>Ansible</i> e também para compartilhar os seus
        conhecimentos.</p>\\n<p><a href=\\\"https://docs.ansible.com/ansible/\\\">Ansible</a>&nbsp;é
        uma ferramenta de automação de TI[...]
- request:
    method: get
    uri: https://api.meetup.com/find/groups?page=200&text=Ansible&radius=global&topic_id=&offset=1&fields=
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-22-92
      x-meetup-request-id: 2359b1ef-a477-46e4-9d6a-3d6d6742c1ad
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '28'
      x-ratelimit-reset: '8'
      link: <https://api.meetup.com/find/groups?page=200&text=Ansible&radius=global&topic_id=&offset=0&fields=>;
        rel="prev"
      x-total-count: '323'
      etag: '"1ed8ade6f86fc83b527537a8073eae24-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: "[{\"score\":1780.0,\"id\":18837078,\"name\":\"AWS User Group Peru\",\"status\":\"active\",\"link\":\"https://www.meetup.com/awsperu/\",\"urlname\":\"awsperu\",\"description\":\"<p><br></p>\\n<p><a
        class=\\\"embedded\\\" href=\\\"https://www.youtube.com/watch?v=muowfrFluAA\\\">https://www.youtube.com/watch?v=muowfrFluAA</a></p>\\n<p>AWS
        Perú es una comunidad, integrada por Ingenieros, Técnicos y Geeks con experiencia
        en Administración y Seguridad de Servicios Amazon Web Services (AWS) en alta
        disponibilidad (IAAS, PAAS SAAS). Nace como una iniciativa por agrupar todos
        los esfuerzos realizados en el área de cloud en el país. Te estamos esperando
        &lt;br&gt;</p>\",\"created\":1439699595000,\"city\":\"Lima\",\"untranslated_city\":\"Lima\",\"country\":\"PE\",\"localized_country_name\":\"Peru\",\"localized_location\":\"Lima,
        Peru\",\"region2\":\"\",\"state\":\"\",\"join_mode\":\"open\",\"visibility\":\"public\",\"lat\":-12.07,\"lon\":-77.05,\"members\":2136,\"member_pay_fee\":false,\"wepay_fee_deprecated\":true,\"organizer\":{\"id\":186956520,\"name\":\"Carlos
        Eduardo Cortez Bazan\",\"bio\":\"\",\"photo\":{\"id\":245912414,\"highres_link\":\"https://secure.meetupstatic.com/photos/member/7/e/9/e/highres_245912414.jpeg\",\"photo_link\":\"https://secure.meetupstatic.com/photos/member/7/e/9/e/member_245912414.jpeg\",\"thumb_link\":\"https://secure.meetupstatic.com/photos/member/7/e/9/e/thumb_245912414.jpeg\",\"type\":\"member\",\"base_url\":\"https://secure.meetupstatic.com\"}},\"who\":\"Amazonians,
        DevOP, SysAdmin\",\"lang\":\"es_ES\",\"group_photo\":{\"id\":440941410,\"highres_link\":\"https://secure.meetupstatic.com/photos/event/5/8/2/highres_440941410.jpeg\",\"photo_link\":\"https://secure.meetupstatic.com/photos/event/5/8/2/600_440941410.jpeg\",\"thumb_link\":\"https://secure.meetupstatic.com/photos/event/5/8/2/thumb_440941410.jpeg\",\"type\":\"event\",\"base_url\":\"https://secure.meetupstatic.com\"},\"key_photo\":{\"id\":493114023,\"highres_link\":\"https://secure.meetupstatic.com/photos/event/8/4/e/7/highres_493114023.jpeg\",\"photo_link\":\"https://secure.meetupstatic.com/photos/event/8/4/e/7/600_493114023.jpeg\",\"thumb_link\":\"https://secure.meetupstatic.com/photos/event/8/4/e/7/thumb_493114023.jpeg\",\"type\":\"event\",\"base_url\":\"https://secure.meetupstatic.com\"},\"timezone\":\"America/Lima\",\"next_event\":{\"id\":\"277103050\",\"name\":\"Episodio
        #2 de Laws of Cloud: Lambda y s3 con Fer   #AWSUGArequipa \",\"yes_rsvp_count\":11,\"time\":1616799600000,\"utc_offset\":-18000000},\"category\":{\"id\":34,\"name\":\"Tech\",\"shortname\":\"tech\",\"sort_name\":\"Tech\"},\"meta_category\":{\"id\":292,\"shortname\":\"tech\",\"name\":\"Tech\",\"sort_name\":\"Tech\",\"photo\":{\"id\":450131949,\"highres_link\":\"https://secure.meetupstatic.com/photos/event/2/e/a/d/highres_450131949.jpeg\",\"photo_link\":\"https://secure.meetupstatic.com/photos/event/2/e/a/d/600_450131949.jpeg\",\"thumb_link\":\"https://secure.meetupstatic.com/photos/event/2/e/a/d/thumb_450131949.jpeg\",\"type\":\"event\",\"base_url\":\"https://secure.meetupstatic.com\"},\"category_ids\":[34]}},{\"score\":1780.0,\"id\":20020357,\"name\":\"Cloud
        & DevOps Group\",\"status\":\"active\",\"link\":\"https://www.meetup.com/CloudOps-Meetup-Bangalore/\",\"urlname\":\"CloudOps-Meetup-Bangalore\",\"description\":\"<p>Community
        to learn and share experiences about implementation, operations and security
        of cloud infrastructure, DevOps and continuous delivery.</p>\\n<p>In short,
        anything to do with the DevOps and Cloud ecosystem that interests you. We
        specifically focus on DevOps processes and technologies, and Cloud technologies.
        All skills levels are welcome. Like our other meetups, an unique feature is
        hands-on approach to try out whatever topics are covered in the meetup.</p>\\n<p>By
        joining this meetup group, you agree to our <a href=\\\"https://konfhub.com/codeofconduct.html\\\">Code
        of Conduct</a>.&nbsp;</p>\",\"created\":1464758695000,\"city\":\"Bangalore\",\"untranslated_city\":\"Bangalore\",\"country\":\"IN\",\"localized_country_name\":\"India\",\"localized_location\":\"Bangalore,
        India\",\"region2\":\"\",\"state\":\"\",\"join_mode\":\"open\",\"visibility\":\"public\",\"lat\":12.97,\"lon\":77.56,\"members\":6554,\"member_pay_fee\":false,\"wepay_fee_deprecated\":true,\"organizer\":{\"id\":183467672,\"name\":\"Hari
        kiran\",\"bio\":\"-Co-Founder of CodeOps Technlogies (http://codeops.tech­)
        \\n-We organize various technology meetups. For upcoming meetups please check
        http://codeops.tech/meetup\",\"photo\":{\"id\":242967576,\"highres_link\":\"https://secure.meetupstatic.com/photos/member/6/b/b/8/highres_242967576.jpeg\",\"photo_link\":\"https://secure.meetupstatic.com/photos/member/6/b/b/8/member_242967576.jpeg\",\"thumb_link\":\"https://secure.meetupstatic.com/photos/member/6/b/b/8/thumb_242967576.jpeg\",\"type\":\"member\",\"base_url\":\"https://secure.meetupstatic.com\"}},\"who\":\"DevOps\",\"lang\":\"en_US\",\"key_photo\":{\"id\":456060353,\"highres_link\":\"h[...]
