http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/find/groups?offset=0&text=R-Ladies&radius=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-12-88
      x-meetup-request-id: 43556f9c-0288-4a9a-96dd-4a16570ddc29
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '10'
      x-total-count: '1'
      etag: '"d9aed5c81013c2072127f281ad301ba4-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"score":7541.0,"id":20851840,"name":"R-Ladies Barcelona","status":"active","link":"https://www.meetup.com/rladies-barcelona/","urlname":"rladies-barcelona","description":"<p><b>R-Ladies
        Barcelona is part of a worldwide organization to promote Gender Diversity
        in the R community.</b></p>\n<p><b>R-Ladies Barcelona es primera comunidad
        en Cataluña de R para mujeres! </b>Aquí encontrarás compañeras en el mundo
        de la programación en R, desde profesionales que tienen R como herramienta
        principal de trabajo hasta aficionadas que quieren aprender y seguir mejorando.
        ¡Unete, te esperamos! R-Ladies Barcelona es una rama local parte de R-Ladies
        Global, una comunidad open source donde mujeres nos apoyamos y nos ayudamos
        a crecer dentro de la comunidad de R. Además R-Ladies Global es un proyecto
        financiado por el <a href=\"https://www.r-consortium.org/about\">R Consortium-Linux
        Foundation</a>. Para mas detalles puedes ir a <a href=\"http://rladies.org/\">rladies.org</a>.
        Twitter: @RLadiesBCN y @RLadiesGlobal. </p>\n<p>Si alguien está interesada
        en impartir un taller o dar una charla en un evento de R-Ladies escribid a
        &nbsp;</p>\n<p>bcn[at]rladies[dot]org </p>\n<p><b>Políticas y Código de Conducta&nbsp;
        <br></b><i>En la comunidad R-Ladies los puestos de responsabilidad como speakers
        y orientadoras son exclusivamente para mujeres, aún así la asistencia a las
        reuniones está abierta a gente de todos los géneros. Siempre se dará prioridad
        a la participación femenina ya que este grupo nació con la intención de animar
        y apoyar a mujeres en los trabajos STEM (Science, Technology, Engineering
        &amp; Math) y en la comunidad de R por lo que las organizadoras de R-Ladies[...]
[...]
