http_interactions:
- request:
    method: post
    uri: https://api.meetup.com/gql
    body:
      encoding: ''
      string: '{"query":"query eventAttendee(\n  $id: ID!,\n  $first: Int = 1000,\n  $cursor:
        String\n  ) {\n  event(id: $id) {\n    id\n    title\n    dateTime\n    going\n    tickets(input:{after:
        $cursor, first: $first}) {\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      count\n      edges
        {\n       # cursor\n        node {\n          user {\n            id\n            name\n            bio\n            memberUrl\n            memberPhoto
        {\n              baseUrl\n            }\n            joinTime\n            timezone\n            organizedGroupCount\n            \n          }\n        }\n      }\n    }\n  }\n}","variables":{"id":"103349942"}}'
    headers:
      Content-Type: ''
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":{"event":{"id":"103349942","title":"Ecosystem GIS & Community Building","dateTime":"2013-02-18T18:30-05:00","going":97,"tickets":{"pageInfo":{"hasNextPage":false,"endCursor":"Njk1NzE1MDAyfDY0NTY5OTcyfC0="},"count":97,"edges":[{"node":{"user":{"id":"12251810","name":"Sean Moore Gonzalez","bio":null,"memberUrl":"https://www.meetup.com/members/12251810","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"},"joinTime":null,"timezone":null,"organizedGroupCount":0}}},{"node":{"user":{"id":"6382386","name":"Harnam Rai","bio":null,"memberUrl":"https://www.meetup.com/members/6382386","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"},"joinTime":null,"timezone":null,"organizedGroupCount":0}}},{"node":{"user":{"id":"70383262","name":"Dario Rivera","bio":null,"memberUrl":"https://www.meetup.com/members/70383262","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"},"joinTime":null,"t[...]
