http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/rladies-nashville/events/234968855/attendance?offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-22-92
      x-meetup-request-id: d00efceb-9774-4492-a1e8-970631f89b1b
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '10'
      etag: '"39861915dba1ed0d2963f436185f7c29-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"member":{"id":211530139,"name":"Allison Hainline","photo":{"id":259464460,"highres_link":"https://secure.meetupstatic.com/photos/member/5/f/8/c/highres_259464460.jpeg","photo_link":"https://secure.meetupstatic.com/photos/member/5/f/8/c/member_259464460.jpeg","thumb_link":"https://secure.meetupstatic.com/photos/member/5/f/8/c/thumb_259464460.jpeg","type":"member","base_url":"https://secure.meetupstatic.com"},"event_context":{"host":false}},"rsvp":{"id":1635422684,"response":"yes","guests":0,"updated":1476893025000}},{"member":{"id":214764454,"name":"Cathy
        Jenkins","photo":{"id":265211035,"highres_link":"https://secure.meetupstatic.com/photos/member/2/b/1/b/highres_265211035.jpeg","photo_link":"https://secure.meetupstatic.com/photos/member/2/b/1/b/member_265211035.jpeg","thumb_link":"https://secure.meetupstatic.com/photos/member/2/b/1/b/thumb_265211035.jpeg","type":"member","base_url":"https://secure.meetupstatic.com"},"event_context":{"host":false}},"rsvp":{"id":1638357279,"response":"no","guests":0,"updated":1478527031000}},{"member":{"id":215531726,"name":"Chris
        S","bio":"MS in Healthcare Informatics","event_context":{"host":false}},"rsvp":{"id":1636227211,"response":"yes","guests":0,"updated":1477343771000}},{"member":{"id":214589711,"name":"Dilman
        Yasin","photo":{"id":260850326,"highres_link":"https://secure.meetupstatic.com/photos/member/7/6/7/6/highres_260850326.jpeg","photo_link":"https://secure.meetupstatic.com/photos/member/7/6/7/6/member_260850326.jpeg","thumb_link":"https://secure.meetupstatic.com/photos/member/7/6/7/6/thumb_260850326.jpeg","typ[...]
