http_interactions:
- request:
    method: post
    uri: https://api.meetup.com/gql
    body:
      encoding: ''
      string: '{"query":"query eventRSVPs(\r\n  $id: ID!,\r\n  $first: Int = 1000,\r\n  $cursor:
        String\r\n  ) {\r\n  event(id: $id) {\r\n    id\r\n    title\r\n    dateTime\r\n    going\r\n    tickets(input:{after:
        $cursor, first: $first}) {\r\n      pageInfo {\r\n        hasNextPage\r\n        endCursor\r\n      }\r\n      count\r\n      edges
        {\r\n       # cursor\r\n        node {\r\n          user {\r\n            id\r\n            name\r\n            memberUrl\r\n          }\r\n          isHost\r\n          status\r\n          guestsCount\r\n          event
        {\r\n            id\r\n            title\r\n            eventUrl\r\n          }\r\n          createdAt\r\n          updatedAt\r\n          \r\n        }\r\n      }\r\n    }\r\n  }\r\n}\r","variables":{"id":"103349942"}}'
    headers:
      Content-Type: ''
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: bc7329bb-731b-455a-8e36-b60ee0f27871
      x-amzn-remapped-content-length: '28776'
      x-amz-apigw-id: QfQsmHpFoAMF8yA=
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":{"event":{"id":"103349942!chp","title":"Ecosystem GIS & Community Building","dateTime":"2013-02-18T18:30-05:00","going":97,"tickets":{"pageInfo":{"hasNextPage":false,"endCursor":"ODA4OTgzMTI="},"count":97,"edges":[{"node":{"user":{"id":"3445733!chp","name":"M Daniel A","memberUrl":"https://www.meetup.com/members/3445733"},"isHost":false,"status":"YES","guestsCount":0,"event":{"id":"103349942!chp","title":"Ecosystem GIS & Community Building","eventUrl":"https://www.meetup.com/Data-Visualization-DC/events/103349942"},"createdAt":"2022-04-12T22:20:13.439Z[UTC]","updatedAt":"2013-02-18T00:01:57-05:00[US/Eastern]"}},{"node":{"user":{"id":"4048866!chp","name":"Anuj Agrawal","memberUrl":"https://www.meetup.com/members/4048866"},"isHost":false,"status":"YES","guestsCount":0,"event":{"id":"103349942!chp","title":"Ecosystem GIS & Community Building","eventUrl":"https://www.meetup.com/Data-Visualization-DC/events/103349942"},"createdAt":"2022-04-12T22:20:13.440Z[UTC]","updatedAt":"2013-02-08T19:37:54-05:00[US/Eastern]"}},{"node":{"user":{"id":"5905096!chp","name":"nahumg"[...]
