http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/pro/rladies/events?offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-2-191
      x-meetup-request-id: 0d64971d-1e66-4c8a-8409-726dd466d80e
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '10'
      etag: '"0c9cb80c4b71fbcb24201922bcf9689d-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"event":{"created":1581970658000,"duration":7200000,"id":"268783210","name":"Introduction
        to R dashboard development with Shiny Dashboard","rsvp_sample":[{"id":1857170501,"created":1606466774000,"updated":1606466774000,"member":{"id":235598538,"name":"Hédia
        T.","photo":{"id":299059042,"highres_link":"https://secure.meetupstatic.com/photos/member/4/a/6/2/highres_299059042.jpeg","photo_link":"https://secure.meetupstatic.com/photos/member/4/a/6/2/member_299059042.jpeg","thumb_link":"https://secure.meetupstatic.com/photos/member/4/a/6/2/thumb_299059042.jpeg","type":"member","base_url":"https://secure.meetupstatic.com"},"self":{"blocks":false,"actions":["message"],"common":{"groups":[{"id":5190472,"urlname":"rladies-san-francisco","name":"R-Ladies
        San Francisco","status":"grace","who":"R-Ladies","members":1639,"join_mode":"open","group_photo":{"id":468911645,"highres_link":"https://secure.meetupstatic.com/photos/event/2/d/7/d/highres_468911645.jpeg","photo_link":"https://secure.meetupstatic.com/photos/event/2/d/7/d/600_468911645.jpeg","thumb_link":"https://secure.meetupstatic.com/photos/event/2/d/7/d/thumb_468911645.jpeg","type":"event","base_url":"https://secure.meetupstatic.com"}},{"id":20317472,"urlname":"rladies-rtp","name":"R-Ladies
        RTP","status":"grace","who":"Members","members":799,"join_mode":"open","group_photo":{"id[...]
