http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/rladies-johannesburg/events?status=past%2Cupcoming&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<<my_access_token>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-22-68
      x-meetup-request-id: 51d4d611-035a-4404-b214-44840385925d
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '27'
      x-ratelimit-reset: '8'
      x-total-count: '27'
      etag: '"502f7bec996c0c1c453f58da336fa9e5-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"created":1530343894000,"duration":7200000,"id":"252299890","name":"July
        Meetup","date_in_series_pattern":false,"status":"past","time":1532014200000,"local_date":"2018-07-19","local_time":"17:30","updated":1532028641000,"utc_offset":7200000,"waitlist_count":0,"yes_rsvp_count":12,"venue":{"id":24221850,"name":"EMPIRE
        Road, JOHANNESBURG ","lat":-26.180028915405273,"lon":28.04374885559082,"repinned":false,"address_1":"Wits
        University ","city":"Johannesburg ","country":"ZA","localized_country_name":"South
        Africa"},"is_online_event":false,"group":{"created":1519624420000,"name":"R-Ladies
        Johannesburg","id":27651490,"join_mode":"open","lat":-26.190000534057617,"lon":28.040000915527344,"urlname":"rladies-johannesburg","who":"R-Ladies","localized_location":"Johannesburg,
        South Africa","state":"","country":"za","region":"en_US","timezone":"Africa/Johannesburg"},"link":"https://www.meetup.com/rladies-johannesburg/events/252299890/","description":"<p>Please
        bring a laptop with, as we will have an interactive session.</p> <p>Our speaker
        Shalain Gopal will deliver a two-part talk:<br/>Part 1: Women in Data Science
        &amp; the importance of women in the field<br/>Part 2: House Prices example
        in R (Exploratory Data Analysis (EDA) &amp; prediction)</p> ","how_to_find_us":"Room
        MSL 110, first floor, Lab Building next to TW Kambule Mathematical Sciences
        Building","visibility":"public","pro_is_email_shared":false,"member_pay_fee":false},{"created":1532512142000,"duration":7200000,"id":"253124736","name":"August
        Meetup","date_in_series_pattern":false,"status":"past","time":1535470200000,"local_date":"2018-08-28","local_time":"17:30","updated":1535499822000,"utc_offset":7200000,"waitlist_count":0,"yes_rsvp_count":20,"venue":{"id":24221850,"name":"EMPIRE
        Road, JOHANNESBURG ","lat":-26.180028915405273,"lon":28.04374885559082,"repinned":false,"address_1":"Wits
        University ","city":"Johannesburg ","count[...]
[...]
