http_interactions:
- request:
    method: post
    uri: https://api.meetup.com/gql
    body:
      encoding: ''
      string: '{"query":"query eventComment(\r\n  $id: ID!,\r\n  #$first: Int = 1000,\r\n  #$cursor:
        String,\r\n  $offset: Int = 0,\r\n  $limit: Int = 1000\r\n  ) {\r\n  event(id:
        $id) {\r\n    # this is how comments would be paginated in the future. still
        in dev\r\n    #comments(input:{after: $cursor, first: $first}) {\r\n    #  pageInfo
        {\r\n    #    hasNextPage\r\n    #    endCursor\r\n    #  }\r\n\r\n    # offset
        and limit still used for pagination here from the REST API schema\r\n    comments(offset:
        $offset, limit: $limit) {\r\n      count\r\n      edges {\r\n        node
        {\r\n          id\r\n          text\r\n          created\r\n          likeCount\r\n          member
        {\r\n            id\r\n            name\r\n          }\r\n          link\r\n          \r\n        }\r\n      }\r\n    }\r\n  }\r\n}\r","variables":{"id":"103349942"}}'
    headers:
      Content-Type: ''
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: f601c671-8d55-4005-ac17-37dc664f3d99
      x-amzn-remapped-content-length: '4665'
      x-amz-apigw-id: QfH1uGypoAMF_rw=
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":{"event":{"comments":{"count":13,"edges":[{"node":{"id":"26644762","text":"looking forward to it","created":"2013-02-12T21:39:21-05:00","likeCount":0,"member":{"id":"72368142","name":"ANJAN PURKAYASTHA"},"link":"https://www.meetup.com/Data-Visualization-DC/events/103349942/comments/688837462/"}},{"node":{"id":"27392502","text":"Crap, I will be out of town.  Next time!","created":"2013-02-14T20:57:18-05:00","likeCount":0,"member":{"id":"13672471","name":"Melinda"},"link":"https://www.meetup.com/Data-Visualization-DC/events/103349942/comments/684088142/"}},{"node":{"id":"158559642","text":"can u change my status to yes, will attend?","created":"2013-02-17T18:10:26-05:00","likeCount":0,"member":{"id":"652[...]
