http_interactions:
- request:
    method: post
    uri: https://api.meetup.com/gql
    body:
      encoding: ''
      string: '{"query":"query eventComment(\n  $id: ID!,\n  #$first: Int = 1000,\n  #$cursor:
        String,\n  $offset: Int = 0,\n  $limit: Int = 1000\n  ) {\n  event(id: $id)
        {\n    # this is how comments would be paginated in the future. still in dev\n    #comments(input:{after:
        $cursor, first: $first}) {\n    #  pageInfo {\n    #    hasNextPage\n    #    endCursor\n    #  }\n\n    #
        offset and limit still used for pagination here from the REST API schema\n    comments(offset:
        $offset, limit: $limit) {\n      count\n      edges {\n        node {\n          id\n          text\n          created\n          likeCount\n          member
        {\n            id\n            name\n          }\n          link\n          \n        }\n      }\n    }\n  }\n}","variables":{"id":"103349942"}}'
    headers:
      Content-Type: ''
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":{"event":{"comments":{"count":13,"edges":[{"node":{"id":"26644762","text":"looking forward to it","created":"2013-02-12T21:39:21-05:00","likeCount":0,"member":{"id":"72368142","name":"ANJAN PURKAYASTHA"},"link":"https://www.meetup.com/data-visualization-dc/events/103349942/comments/688837462/"}},{"node":{"id":"27392502","text":"Crap, I will be out of town.  Next time!","created":"2013-02-14T20:57:18-05:00","likeCount":0,"member":{"id":"13672471","name":"Melinda"},"link":"https://www.meetup.com/data-visualization-dc/events/103349942/comments/684088142/"}},{"node":{"id":"158559642","text":"can u change my status to yes, will attend?","created":"2013-02-17T18:10:26-05:00","likeCount":0,"member":{"id":"652[...]
