http_interactions:
- request:
    method: post
    uri: https://api.meetup.com/gql
    body:
      encoding: ''
      string: '{"query":"query members(\r\n  $urlname: String!,\r\n  $first: Int =
        1000,\r\n  $cursor: String\r\n  ) {\r\n  groupByUrlname(urlname: $urlname)
        {\r\n    id\r\n    name\r\n    memberships ( input: {first: $first, after:
        $cursor}) {\r\n      pageInfo {\r\n        hasNextPage\r\n        endCursor\r\n      }\r\n      count\r\n      edges
        {\r\n        node {\r\n          id\r\n          name\r\n          memberUrl\r\n          memberPhoto
        {\r\n            baseUrl\r\n          }\r\n        }\r\n        metadata {\r\n          status\r\n          role\r\n          joinedDate\r\n          mostRecentVisitDate\r\n        }\r\n      }\r\n    }\r\n    \r\n  }\r\n}\r","variables":{"urlname":"rladies-remote"}}'
    headers:
      Content-Type: ''
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: f505ba3b-83ed-4fde-9d8a-037542caaaac
      x-amzn-remapped-content-length: '147465'
      x-amz-apigw-id: QfgAHFRLoAMF5Iw=
    body:
      encoding: UTF-8
      file: no
      string: "{\"data\":{\"groupByUrlname\":{\"id\":\"28887085\",\"name\":\"R-Ladies
        Remote\",\"memberships\":{\"pageInfo\":{\"hasNextPage\":false,\"endCursor\":\"MTY0OTYzMDMwMTAwMDoyNDgzNzEyNzY=\"},\"count\":442,\"edges\":[{\"node\":{\"id\":\"251470805\",\"name\":\"R-Ladies
        Global\",\"memberUrl\":\"https://www.meetup.com/members/251470805\",\"memberPhoto\":{\"baseUrl\":\"https://secure-content.meetupstatic.com/images/classic-member/\"}},\"metadata\":{\"status\":\"LEADER\",\"role\":\"ORGANIZER\",\"joinedDate\":\"2018-06-19T16:31:06-07:00\",\"mostRecentVisitDate\":\"2022-01-29T11:09:08-08:00\"}},{\"node\":{\"id\":\"213401088\",\"name\":\"liilia\",\"memberUrl\":\"https://www.meetup.com/members/213401088\",\"memberPhoto\":{\"baseUrl\":\"https://secure-content.meetupstatic.com/images/classic-member/\"}},\"metadata\":{\"status\":\"ACTIVE\",\"role\":\"MEMBER\",\"joinedDate\":\"2018-06-20T03:46:29-07:00\",\"mostRecentVisitDate\":\"2018-08-13T10:40:39-07:00\"}},{\"node\":{\"id\":\"233963517\",\"name\":\"Auriel
        Fournier\",\"memberUrl\":\"https://www.meetu[...]
