http_interactions:
- request:
    method: post
    uri: https://api.meetup.com/gql
    body:
      encoding: ''
      string: '{"query":"query members(\n  $urlname: String!,\n  $first: Int = 1000,\n  $cursor:
        String\n  ) {\n  groupByUrlname(urlname: $urlname) {\n    id\n    name\n    memberships
        ( input: {first: $first, after: $cursor}) {\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      count\n      edges
        {\n        node {\n          id\n          name\n          memberUrl\n          memberPhoto
        {\n            baseUrl\n          }\n        }\n        metadata {\n          status\n          role\n          joinedDate\n          mostRecentVisitDate\n        }\n      }\n    }\n    \n  }\n}","variables":{"urlname":"rladies-lagos"}}'
    headers:
      Content-Type: ''
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "{\"data\":{\"groupByUrlname\":{\"id\":\"32612004\",\"name\":\"R-Ladies
        Lagos\",\"memberships\":{\"pageInfo\":{\"hasNextPage\":false,\"endCursor\":\"MTY2MzE1ODQ4OTAwMDozNzA3NTc1NzU=\"},\"count\":518,\"edges\":[{\"node\":{\"id\":\"251470805\",\"name\":\"R-Ladies
        Global\",\"memberUrl\":\"https://www.meetup.com/members/251470805\",\"memberPhoto\":{\"baseUrl\":\"https://secure-content.meetupstatic.com/images/classic-member/\"}},\"metadata\":{\"status\":\"LEADER\",\"role\":\"ORGANIZER\",\"joinedDate\":\"2019-08-16T09:45:21+01:00\",\"mostRecentVisitDate\":\"2019-08-16T09:45:21+01:00\"}},{\"node\":{\"id\":\"225839690\",\"name\":\"EYITAYO
        ALIMI\",\"memberUrl\":\"https://www.meetup.com/members/225839690\",\"memberPhoto\":{\"baseUrl\":\"https://secure-content.meetupstatic.com/images/classic-member/\"}},\"metadata\":{\"status\":\"LEADER\",\"role\":\"COORGANIZER\",\"joinedDate\":\"2019-08-16T15:33:34+01:00\",\"mostRecentVisitDate\":\"2022-08-14T13:51:41+01:00\"}},{\"node\":{\"id\":\"236466773\",\"name\":\"Adedamilola
        Adekanye\",\"member[...]
