http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/pro/rladies/groups?offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: c0c5c826-df82-4e0a-bdb4-648518268c23
      x-amzn-remapped-content-length: '876169'
      x-amzn-remapped-connection: Close
      x-total-count: '191'
      x-amz-apigw-id: ZB4ecFO9IAMFgoQ=
    body:
      encoding: UTF-8
      file: no
      string: "[{\"average_age\":37.33330154418945,\"categories\":[{\"id\":34,\"name\":\"tech\",\"shortname\":\"tech\"}],\"city\":\"Kuala
        Lumpur\",\"country\":\"Malaysia\",\"description\":\"<p>This is a local chapter
        of R-Ladies Global (<a href=\\\"https://www.rladies.org\\\" class=\\\"linkified\\\">https://www.rladies.org</a>),
        an organisation that promotes gender diversity in the R community worldwide.
        We meetup in person or virtually to learn about the R programming language,
        algorithms and advanced tools. </p>\\n<p>R-Ladies welcomes members of all
        R proficiency levels, whether you're a new or aspiring R user, or an experienced
        R[...]
