http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/pro/rladies/events?offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-meetup-server: ip-10-192-3-13
      x-meetup-request-id: fd70606b-64e3-4c58-8a6b-a9503b16fca8
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '10'
      etag: '"cdd262e2771b9d13be48a9a34fef0e10-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"event":{"created":1608376162000,"duration":7200000,"id":"275264114","name":"{R-Ladies
        Toolbox Series} Part 2: Presenting Results ","rsvp_sample":[{"id":1859009123,"created":1608380622000,"updated":1608380622000,"member":{"id":235598538,"name":"Hédia
        T.","photo":{"id":299059042,"highres_link":"https://secure.meetupstatic.com/photos/member/4/a/6/2/highres_299059042.jpeg","photo_link":"https://secure.meetupstatic.com/photos/member/4/a/6/2/member_299059042.jpeg","thumb_link":"https://secure.meetupstatic.com/photos/member/4/a/6/2/thumb_299059042.jpeg","type":"member","base_url":"https://secure.meetupstatic.com"},"self":{"blocks":false,"actions":["message"],"common":{"groups":[{"id":5190472,"urlname":"rladies-san-francisco","name":"R-Ladies
        San Francisco","status":"grace","who":"R-Ladies","members":1642,"join_mode":"open","group_photo":{"id":468911645,"highres_link":"https://secure.meetupstatic.com/photos/event/2/d/7/d/highres_468911645.jpeg","photo_link":"https://secure.meetupstatic.com/photos/event/2/d/7/d/600_468911645.jpeg","thumb_link":"https://secure.meetupstatic.com/photos/event/2/d/7/d/thumb_468911645.jpeg","type":"event","base_url":"https://secure.meetupstatic.com"}},{"id":18427958,"urlname":"Oslo-useR-Group","name":"Oslo
        useR! Group","status":"grace","who":"R-tisans","members":1364,"join_mode":"open","group_p[...]
