http_interactions:
- request:
    method: post
    uri: https://api.meetup.com/gql
    body:
      encoding: ''
      string: '{"query":"query eventAttendee(\r\n  $id: ID!,\r\n  $first: Int = 1000,\r\n  $cursor:
        String\r\n  ) {\r\n  event(id: $id) {\r\n    id\r\n    title\r\n    dateTime\r\n    going\r\n    tickets(input:{after:
        $cursor, first: $first}) {\r\n      pageInfo {\r\n        hasNextPage\r\n        endCursor\r\n      }\r\n      count\r\n      edges
        {\r\n       # cursor\r\n        node {\r\n          user {\r\n            id\r\n            name\r\n            bio\r\n            memberUrl\r\n            memberPhoto
        {\r\n              baseUrl\r\n            }\r\n            joinTime\r\n            timezone\r\n            organizedGroupCount\r\n            \r\n          }\r\n        }\r\n      }\r\n    }\r\n  }\r\n}\r","variables":{"id":"103349942"}}'
    headers:
      Content-Type: ''
      Authorization: not my bearer token
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-amzn-requestid: 21593984-7c98-4531-b4ae-0db6116f76c1
      x-amzn-remapped-content-length: '19327'
      x-amz-apigw-id: QfDXaGwWoAMF6zA=
    body:
      encoding: UTF-8
      file: no
      string: |
        {"data":{"event":{"id":"103349942!chp","title":"Ecosystem GIS & Community Building","dateTime":"2013-02-18T18:30-05:00","going":97,"tickets":{"pageInfo":{"hasNextPage":false,"endCursor":"ODA4OTgzMTI="},"count":97,"edges":[{"node":{"user":{"id":"3445733!chp","name":"M Daniel A","bio":null,"memberUrl":"https://www.meetup.com/members/3445733","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"},"joinTime":null,"timezone":null,"organizedGroupCount":0}}},{"node":{"user":{"id":"4048866!chp","name":"Anuj Agrawal","bio":null,"memberUrl":"https://www.meetup.com/members/4048866","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"},"joinTime":null,"timezone":null,"organizedGroupCount":0}}},{"node":{"user":{"id":"5905096!chp","name":"nahumg","bio":null,"memberUrl":"https://www.meetup.com/members/5905096","memberPhoto":{"baseUrl":"https://secure-content.meetupstatic.com/images/classic-member/"},"joinTime":null,[...]
