http_interactions:
- request:
    method: get
    uri: https://api.meetup.com/rladies-nashville/events?status=past&offset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-oauth-scopes: basic
      x-accepted-oauth-scopes: basic
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '29'
      x-ratelimit-reset: '10'
      x-total-count: '18'
      etag: '"d5374223735a829c9cce7c1acf0fda4a-gzip"'
    body:
      encoding: UTF-8
      file: no
      string: '[{"created":1476892337000,"duration":7200000,"id":"234968855","name":"R-Ladies
        Nashville Kickoff!","date_in_series_pattern":false,"status":"past","time":1478561400000,"local_date":"2016-11-07","local_time":"17:30","updated":1478610982000,"utc_offset":-21600000,"waitlist_count":0,"yes_rsvp_count":27,"is_online_event":false,"group":{"created":1475090435000,"name":"R-Ladies
        Nashville","id":20493986,"join_mode":"open","lat":36.16999816894531,"lon":-86.77999877929688,"urlname":"rladies-nashville","who":"Members","localized_location":"Nashville,
        TN","state":"TN","country":"us","region":"en_US","timezone":"US/Central"},"link":"https://www.meetup.com/rladies-nashville/events/234968855/","description":"<p>Please
        join us for the R-Ladies Nashville Kickoff!</p> <p>We''ll provide some light
        snacks and beverages; if you''d like to bring dinner, feel free!</p> <p>We''ll
        meet in the VUMC Biostatistics large conference room, located on the 11th
        floor of the 2525 West End building (the building across from Centennial Park,
        with Barnes &amp; Noble and PF Chang''s on the ground floor). Paid parking
        is available in the garage behind the building, or some of the shops downstairs
        will validate for paying customers, if you''d like to come early.</p> <p><b>Important:</b> Elevators
        require keycard access after 6pm. If you need to arrive after 6:00, please
        let us know; we''ll notify the security desk and give you a phone number to
        contact so that someone can come escort you upstairs.</p> <p>Agenda:<br/>5:30-6:00:
        dinner/socializing<br/>6:00-6:30: Intro to R-Ladies + short demo of R Notebooks<br/>6:30-end:
        discussion and planning for R-Ladies Nashville future</p> <p>We are so looking
        forward to seeing you all! If you have any questions, feel free to contact
        us via Meetup or [masked].</p> ","visibility":"public","member_pay_fee":false},{"created":1479409918000,"duration":3600000,"id":"235652800","name":"December
        Meetup: data.table package","date_in_series_pattern":false,"status":"past","time":1481048100000,"local_date":"2016-12-06","local_time":"12:15","updated":1481053951000,"utc_offset":-21600000,"waitlist_count":0,"yes_rsvp_count":17,"is_online_event":false,"group":{"created":1475090435000,"name":"R-Ladies
        Nashville","id":20493986,"join_mode":"open","lat":36.16999816894531,"lon":-86.77999877929688,"urlname":"rladies-nashville","who":"Members","localized_location":"Nashville,
        TN","state":"TN"[...]
