http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"R","first":10}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJEb3VibGUiLCJ2YWx1ZSI6Mi43OTc3NTM4fSx7InR5cGUiOiJTdHJpbmciLCJ2YWx1ZSI6IjU4NDkwMi1lbl9VUyJ9XX0="},"totalCount":10000,"edges":[{"node":{"id":"109937","name":"Board
        Games","urlkey":"board-games","description":null}},{"node":{"id":"24384","name":"Consciousness","urlkey":"consciousness","description":"Meet
        other local people who are interested in the Science of Consciousness. Discuss
        the recent steps that have been made in the science of consciousness and the
        new paradigm that''s emerging as a result."}},{"node":{"id":"21137","name":"Recreational
        Sports","urlkey":"recreational-sports","description":"Meet other people interested
        in Recreational Sports!"}},{"node":[...]
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findTopics(\n  $query: String!, \n  $first: Int = 1000,
        \n  $after: String\n  ) {\n  suggestTopics(\n    query: $query\n    first:
        $first\n    after: $after\n  ) {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlkey\n        description\n      }\n    }\n  }\n}","variables":{"query":"Data
        Science","first":5}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"suggestTopics":{"pageInfo":{"hasNextPage":true,"endCursor":"eyJ2YWx1ZXMiOlt7InR5cGUiOiJEb3VibGUiLCJ2YWx1ZSI6MTQuNjI5NzI1fSx7InR5cGUiOiJTdHJpbmciLCJ2YWx1ZSI6IjU1MzI0LWVuX1VTIn1dfQ=="},"totalCount":558,"edges":[{"node":{"id":"1515085","name":"Data
        Analytics","urlkey":"data-analytics","description":null}},{"node":{"id":"37381","name":"Data
        Visualization","urlkey":"data-visualization","description":null}},{"node":{"id":"480642","name":"Data","urlkey":"data","description":null}},{"node":{"id":"102811","name":"Data
        Science","urlkey":"data-science","description":null}},{"node":{"id":"55324","name":"Data
        Mining","urlkey":"data-mining","description":null}}]}}}'
  recorded_at: 2025-12-05 12:58:37
recorded_with: VCR-vcr/2.0.0
