http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query GetSelf($extended: Boolean = true) {\n  self {\n    id\n    name\n    email\n    isOrganizer\n    isLeader\n    isMemberPlusSubscriber  \n    isProOrganizer\n    adminProNetworks
        @include(if: $extended) {\n      id\n      name\n    }\n    bio @include(if:
        $extended)\n    city @include(if: $extended)\n    country @include(if: $extended)\n    state
        @include(if: $extended)\n    lat @include(if: $extended)\n    lon @include(if:
        $extended)\n    startDate @include(if: $extended)\n    preferredLocale @include(if:
        $extended)\n    memberUrl @include(if: $extended)\n    \n  }\n}","variables":{"extended":true}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"self":{"id":"251470805","name":"R-Ladies Global","email":"meetup@rladies.org","isOrganizer":true,"isLeader":true,"isMemberPlusSubscriber":false,"isProOrganizer":true,"adminProNetworks":[{"id":"559792434039549952","name":"R-Ladies"}],"bio":"R-Ladies
        Global.  https://rladies.org","city":"San Francisco","country":"us","state":"CA","lat":37.78,"lon":-122.42,"startDate":"2018-04-01T22:15:11-04:00","preferredLocale":"en-US","memberUrl":"https://www.meetup.com/members/251470805/"}}}'
  recorded_at: 2025-09-14 11:46:45
[...]
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query GetSelf($extended: Boolean = true) {\n  self {\n    id\n    name\n    email\n    isOrganizer\n    isLeader\n    isMemberPlusSubscriber  \n    isProOrganizer\n    adminProNetworks
        @include(if: $extended) {\n      id\n      name\n    }\n    bio @include(if:
        $extended)\n    city @include(if: $extended)\n    country @include(if: $extended)\n    state
        @include(if: $extended)\n    lat @include(if: $extended)\n    lon @include(if:
        $extended)\n    startDate @include(if: $extended)\n    preferredLocale @include(if:
        $extended)\n    memberUrl @include(if: $extended)\n    \n  }\n}","variables":{"extended":true}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"self":{"id":"251470805","name":"R-Ladies Global","email":"meetup@rladies.org","isOrganizer":true,"isLeader":true,"isMemberPlusSubscriber":false,"isProOrganizer":true,"adminProNetworks":[{"id":"559792434039549952","name":"R-Ladies"}],"bio":"R-Ladies
        Global.  https://rladies.org","city":"San Francisco","country":"us","state":"CA","lat":37.78,"lon":-122.42,"startDate":"2018-04-01T22:15:11-04:00","preferredLocale":"en-US","memberUrl":"https://www.meetup.com/members/251470805/"}}}'
  recorded_at: 2025-09-14 11:46:49
recorded_with: VCR-vcr/2.0.0
