http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"\n  query {\n    groupByUrlname(urlname: \"rladies-san-francisco\")
        {\n      id\n      name\n    }\n  }","variables":{}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupByUrlname":{"id":"5190472","name":"R-Ladies San Francisco"}}}'
  recorded_at: 2025-10-19 21:43:20
recorded_with: VCR-vcr/2.0.0
