http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"\n  query DebugExample($urlname: String!) {\n    groupByUrlname(urlname:
        $urlname) {\n      id\n      name\n      memberships { totalCount }\n    }\n  }","variables":{"urlname":"rladies-san-francisco"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupByUrlname":{"id":"5190472","name":"R-Ladies San Francisco","memberships":{"totalCount":1724}}}}'
  recorded_at: 2025-09-20 14:23:38
recorded_with: VCR-vcr/2.0.0
