http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"\nquery($eventId: ID!) {\n  event(id: $eventId) {\n    title\n    description\n    dateTime\n    venues
        {\n      name\n      address\n    }\n    group {\n      name\n      urlname\n    }\n  }\n}","variables":{"eventId":"103349942"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"event":{"title":"Ecosystem GIS & Community Building","description":"Hello
        New DVDC Members!\n\nIs Data Visualization a science or an art? Our goal is
        to create great events where everyones'' experiences reflect that sentiment,
        and we are beginning a great speaker in Joseph Sexton (http://www.terpconnect.umd.edu/~jsexton/).
        Joe will give us a glimpse of his department''s unique global ecological datasets,
        with stunning visuals, and what goes into unparalleled GIS data. Joe''s datasets
        include DISCO (Dynamic Impervi[...]
