http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"\nquery {\n  group(urlname: \"rladies-lagos\") {\n    upcomingEvents(input:
        {first: 5}) {\n      edges {\n        node {\n          title\n          venue
        {\n            name\n            city\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"errors":[{"message":"Validation error (MissingFieldArgument@[group])
        : Missing field argument ''id''","locations":[{"line":3,"column":3}],"extensions":{"classification":"ValidationError"}},{"message":"Validation
        error (UnknownArgument@[group]) : Unknown field argument ''urlname''","locations":[{"line":3,"column":9}],"extensions":{"classification":"ValidationError"}},{"message":"Validation
        error (FieldUndefined@[group/upcomingEvents]) : Field ''upcomingEvents'' in
        type ''Group'' is undefined","locations":[{"line":4,"column":5}],"extensions":{"classification":"ValidationError"}}]}'
  recorded_at: 2025-10-19 21:43:21
recorded_with: VCR-vcr/2.0.0
