http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query getGroup($urlname: String!) {\n    groupByUrlname(urlname:
        $urlname) {\n        id\n        name\n        description\n        urlname\n        link\n        city\n        country\n        timezone\n        foundedDate\n        stats
        {\n            memberCounts {\n            all\n            }\n        }\n        organizer
        {\n            id\n            name\n        }\n        keyGroupPhoto {\n            baseUrl\n        }\n        topicCategory
        {\n            id\n            name\n        }\n        events(\n            first:
        1, \n            filter: { \n                status: [ACTIVE, PAST, CANCELLED,
        DRAFT] \n                }\n            ) {\n            totalCount\n        }\n    }\n}","variables":{"urlname":"rladies-lagos"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupByUrlname":{"id":"32612004","name":"R-Ladies Lagos","description":"R-Ladies
        is a world-wide organization to promote gender diversity in the R community.\nR-Ladies
        welcomes members of all R proficiency levels, whether you''re a new or aspiring
        R user, or an experienced R programmer interested in mentoring, networking
        & expert upskilling. Our community is designed to develop our members'' R
        skills & knowledge through social, collaborative learning & sharing. Supporting
        minority identity access to STEM skills & care[...]
