http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query findGroups(\n  $query: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $lat: Float! = 0.0\n  $lon: Float! = 0.0\n  $radius: Float =
        100000000.0\n) {\n  groupSearch(\n    after: $cursor\n    first: $first\n    filter:
        {\n      query: $query\n      lat: $lat\n      lon: $lon\n      radius: $radius\n    }\n  )
        {\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n    totalCount\n    edges
        {\n      node {\n        id\n        name\n        urlname\n        city\n        state\n        country\n        lat\n        lon\n        memberships
        {\n          totalCount\n        }\n        foundedDate\n        timezone\n        joinMode\n        isPrivate\n        membershipMetadata
        {\n          status\n        }\n      }\n    }\n  }\n}","variables":{"query":"R
        programming","first":200}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: '{"data":{"groupSearch":{"pageInfo":{"hasNextPage":true,"endCursor":"MjAw"},"totalCount":200,"edges":[{"node":{"id":"38207702","name":"Birmingham
        R Users Group","urlname":"bham-r-users-group","city":"Birmingham","state":"AL","country":"us","lat":33.51,"lon":-86.8,"memberships":{"totalCount":2},"foundedDate":"2025-09-29T15:13:54-05:00","timezone":"America/Chicago","joinMode":"APPROVAL","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"24890872","name":"Warwick
        R User Group (R Programming Language)","urlname":"warwickrug","city":"Coventry","state":"43","country":"gb","lat":52.38,"lon":-1.56,"memberships":{"totalCount":918},"foundedDate":"2017-07-08T10:21:17+01:00","timezone":"Europe/London","joinMode":"OPEN","isPrivate":false,"membershipMetadata":null}},{"node":{"id":"18574545","name":"Johannesburg
        R User Group (R Programming Language)","urlname":"joburg-r-users-group","city":"Johannesburg[...]
