http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query groupEvents(\n  $urlname: String!\n  $cursor: String\n  $first:
        Int = 1000\n  $status: [EventStatus!]\n  $date_after: DateTime\n  $date_before:
        DateTime\n) {\n  groupByUrlname(urlname: $urlname) {\n    id\n    name\n    events(\n      after:
        $cursor\n      first: $first\n      filter: {\n        status: $status\n        afterDateTime:
        $date_after\n        beforeDateTime: $date_before\n      }\n    ) {\n      pageInfo
        {\n        hasNextPage\n        endCursor\n      }\n      totalCount\n      edges
        {\n        cursor\n        node {\n          ...eventFields\n        }\n      }\n    }\n  }\n}\n\nfragment
        eventFields on Event {\n  id\n  title\n  eventUrl\n  createdTime\n  status\n  dateTime\n  duration\n  description\n  \n  group
        {\n    id\n    name\n    urlname\n  }\n  \n  venues {\n    id\n    name\n    address\n    city\n    state\n    postalCode\n    country\n    lat\n    lon\n    venueType\n  }\n  \n  rsvps(first:
        1) {\n    totalCount\n  }\n  \n  featuredEventPhoto {\n    baseUrl\n  }\n  \n  feeSettings
        {\n    required\n    amount\n    currency\n    accepts\n    refundPolicy {\n      notes\n      days\n    }\n  }\n  \n  \n}","variables":{"urlname":"rladies-lagos","status":"PAST","date_after":"2024-01-01T00:00:00Z","process_data":["function
        (data, ...) ","{","    process_datetime_fields(dplyr::mutate(data, venues_country
        = get_country_code(venues_country)), ","        c(\"created_time\", \"date_time\"))","}"]}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: "{\"data\":{\"groupByUrlname\":{\"id\":\"32612004\",\"name\":\"R-Ladies
        Lagos\",\"events\":{\"pageInfo\":{\"hasNextPage\":false,\"endCursor\":\"MzAwMDI3MDk0OjE3MTQyMzM2MDAwMDA=\"},\"totalCount\":3,\"edges\":[{\"cursor\":\"MzAwMDI2NTk0OjE3MTI0MTkyMDAwMDA=\",\"node\":{\"id\":\"300026594\",\"title\":\"Build
        With AI\",\"eventUrl\":\"https://www.meetup.com/rladies-lagos/events/300026594/\",\"createdTime\":\"2024-03-26T08:37:08-04:00\",\"status\":\"PAST\",\"dateTime\":\"2024-04-06T17:00:00+01:00\",\"duration\":\"PT3H\",\"description\":\"**\U0001F680
        Build with AI Event: Unlocking the Future, Empowering Everyone \U0001F680**\\nAre
        you ready to embark on an incredible journey into the world of Artificial
        Intelligence? Welcome to \\\"Build with AI,\\\" a groundbreaking two-day event
        designed for enthusiasts, beginners, and anyone curious about the transformative
        power of AI. The best part? No coding experience is required!\\n**\U0001F31F
        Who Should Attend:**\\nBeginners curious abo[...]
