http_interactions:
- request:
    method: POST
    uri: https://api.meetup.com/gql-ext
    body:
      string: '{"query":"query proGroups(\n  $urlname: ID!,\n  $first: Int = 1000,\n  $cursor:
        String\n  ) {\n  proNetwork(urlname: $urlname) {\n    groupsSearch(input:
        {after: $cursor, first: $first}) {\n      totalCount\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      edges
        {\n        node {\n          id\n          name\n          urlname\n          description\n          lat\n          lon\n          city\n          state\n          country\n          membershipMetadata
        {\n            status\n          }\n          memberships {\n            totalCount\n          }\n          foundedDate\n          proJoinDate\n          timezone\n          joinMode\n          who:
        customMemberLabel\n          isPrivate\n        }\n      }\n    }\n    \n  }\n}","variables":{"urlname":"rladies"}}'
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
    body:
      string: "{\"data\":{\"proNetwork\":{\"groupsSearch\":{\"totalCount\":247,\"pageInfo\":{\"hasNextPage\":false,\"endCursor\":\"W1snMTUyMjEwMzgwNDAwMCddLFsnNTE5MDQ3MiddXQ==\"},\"edges\":[{\"node\":{\"id\":\"37968764\",\"name\":\"R-Ladies
        Tlalnepantla\",\"urlname\":\"rladies-tlalnepantla\",\"description\":\"This
        is a local chapter of R-Ladies Global (https://www.rladies.org), an organisation
        that promotes gender diversity in the R community worldwide. We meetup in
        person or virtually to learn about the R programming language, algorithms
        and advanced tools.\\n\\nR-Ladies welcomes members of all R proficiency levels,
        whether you're a new or aspiring R user, or an experienced R programmer interested
        in mentoring, networking & expert upskilling. Our com[...]
